/* -------------------------------------- */
/*: Responsive styles smartphone */
/* -------------------------------------- */
@media screen and (max-width: 1024px) {
  /* .container {
    max-width: 1024px;
  } */

  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs {
    display: none;
  }
  /** Responsive Design -Services      */

  .servicesRD {
    position: relative;
    width: 100%;
    min-height: var(--section-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .servicesRD .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicesRD .title h2 {
    font-family: var(--font-titulos);
    color: var(--color-texto-RD);
    background-color: transparent;
  }

  .servicesRD h3 {
    color: var(--color-texto-RD);
    font-size: var(--h3-font-size);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
  .servicesRD span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: 2rem;
  }
  .servicesRD ul {
    text-align: center;
    font-size: 1.15rem;
    color: var(--color-texto-RD);
    text-decoration: none;
    list-style: none;
    line-height: 45px;
  }
  .servicesRD ul li span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: var(--normal-font-size);
  }

  .servicesRD .mainUL {
    text-align: left;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: none;
    line-height: 30px;
  }

  .servicesRD .mainUL .secondaryUL {
    text-align: left;
    margin-left: 30px;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: square;
    line-height: 30px;
  }
  .servicesRD .secondaryUL li span {
    font-weight: 700;
    color: var(--color-pagina);
    font-size: var(--normal-font-size);
  }

  .lista ul.mainUL li::before {
    content: "|";
    position: absolute;
    left: 200px;
    font-size: 20px;
  }
  .lista ul.secondaryUL li::before {
    content: "";
  }

  .servicesRD .lista li:nth-child(1)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(2)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(3)::before {
    color: #b80070;
  }

  .servicesRD .lista li:nth-child(4)::before {
    color: #00b870;
  }

  .servicesRD .lista li:nth-child(5)::before {
    color: #7000b8;
  }

  .servicesRD .lista li:nth-child(6)::before {
    color: #70b800;
  }

  .servicesRD .lista li:nth-child(7)::before {
    color: #ff0000;
  }
  .servicesRD .lista li:nth-child(12)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(13)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(14)::before {
    color: #00b870;
  }
}

@media screen and (max-width: 768px) {
  /* .container {
    max-width: 768px;
  } */
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs {
    display: none;
  }

  .servicesRD {
    position: relative;
    width: 100%;
    min-height: var(--section-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .servicesRD .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicesRD .title h2 {
    font-family: var(--font-titulos);
    color: var(--color-texto-RD);
    background-color: transparent;
  }

  .servicesRD h3 {
    color: var(--color-texto-RD);
    font-size: var(--h3-font-size);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
  .servicesRD span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: 2rem;
  }
  .servicesRD ul {
    text-align: center;
    font-size: 1.15rem;
    color: var(--color-texto-RD);
    text-decoration: none;
    list-style: none;
    line-height: 45px;
  }
  .servicesRD ul li span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: var(--normal-font-size);
  }

  .servicesRD .mainUL {
    text-align: left;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: none;
    line-height: 30px;
  }

  .servicesRD .mainUL .secondaryUL {
    text-align: left;
    margin-left: 30px;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: square;
    line-height: 30px;
  }
  .servicesRD .secondaryUL li span {
    font-weight: 700;
    color: var(--color-pagina);
    font-size: var(--normal-font-size);
  }

  .lista ul.mainUL li::before {
    content: "|";
    position: absolute;
    left: 160px;
    font-size: 20px;
  }
  .lista ul.secondaryUL li::before {
    content: "";
  }

  .servicesRD .lista li:nth-child(1)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(2)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(3)::before {
    color: #b80070;
  }

  .servicesRD .lista li:nth-child(4)::before {
    color: #00b870;
  }

  .servicesRD .lista li:nth-child(5)::before {
    color: #7000b8;
  }

  .servicesRD .lista li:nth-child(6)::before {
    color: #70b800;
  }

  .servicesRD .lista li:nth-child(7)::before {
    color: #ff0000;
  }
  .servicesRD .lista li:nth-child(12)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(13)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(14)::before {
    color: #00b870;
  }
}

/*: Samsung Galaxy J2 devices */
@media screen and (max-width: 540px) {
  /* .container {
    max-width: 540px;
  } */
  .lista ul.mainUL li::before {
    content: "|";
    position: absolute;
    left: 50px;
    font-size: 20px;
  }
  .lista ul.secondaryUL li::before {
    content: "";
  }
  /*: Profile     */
  .profile {
    flex-direction: column;
  }
  .profile-title {
    font-size: 25px;
    margin: 10px 10px;
  }
  .profile-title span {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  /* .container {
    max-width: 414px;
  } */
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs {
    display: none;
  }

  [id="home"] {
    scroll-margin-top: 7ex;
  }

  /*: Titulo Principal  */

  h2.elegantshadow {
    text-shadow: none;
  }
  h2.elegantshadow {
    font-size: 1.15rem;
    padding-bottom: 20px;
    margin-top: 0;
    color: var(--color-texto-RD);
    background-color: rgba(231, 229, 228, 0.5);
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
  }

  /*: Iconos redes sociales  */

  .social_Icon [class*="fa-"] {
    font-size: 1.5em;
  }
  .social_Icon [class*="fa-"]:hover {
    transform: scale(1.3);
    transition: all 0.75s;
  }
  .social_Icon .fab.fa-instagram {
    width: 25px;
    height: 25px;
  }
  .social_Icon .fab.fa-instagram:hover {
    transform: scale(1.3);
    transition: all 0.75s;
  }
  .banner_Icon {
    top: 420px;
  }
  .whatsapp_Texto span {
    display: none;
  }
  .slideshow1 {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .slideshow1 .swiper-slide {
    height: 280px;
  }

  /*: Cientes y Proyectos     */

  .clients .title h2 {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: var(--biggest-font-size);
    line-height: 40px;
    color: var(--color-texto-RD);
    align-self: center;
    background-color: transparent;
  }
  .clients .title h2 span {
    display: none;
  }
  .clients .title {
    margin: 0;
  }
  .clients .scroll-title {
    margin: 0;
  }
  .clientes .card {
    margin: 0 30px 20px 5px;
  }

  /*: Galería     */

  .container_Galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .galeria .title h2 {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: var(--biggest-font-size);
    line-height: 40px;
    color: var(--color-texto-RD);
    align-self: center;
    background-color: transparent;
  }
  .galeria .title h2 span {
    display: none;
  }
  .galeria .title {
    margin: 0;
  }
  .galeria .scroll-title {
    margin: 0;
  }
  /*: Profile     */
  .profile {
    flex-direction: column;
  }
  .profile-title {
    font-size: 20px;
    margin: 10px 10px;
  }
  .profile-title span {
    font-size: 12px;
  }
  .profile-details {
    font-size: 11px;
    line-height: 1.6;
    max-width: 450px;
    margin: 0 20px;
  }

  /*: Footer     */
  [id="contacto"] {
    scroll-margin-top: 7ex;
  }
  .footer {
    font-family: var(--font-footer);
  }
  .main .contenedor {
    background-color: var(--footer-bg-color);
  }
  .main .contenedor h2:before {
    left: 5px;
  }
  .main .contenedor h2,
  .main .contenedor .nosotros p,
  .contactos .informacion li span:nth-child(1),
  .contactos .informacion li span,
  .contactos .informacion li a {
    padding: 5px;
    color: var(--footer-text-color);
  }
  .socialIcons {
    display: none;
  }
  .main .contenedor h2 {
    font-size: var(--small-font-size);
  }
  .main .contenedor .nosotros p {
    font-size: var(--smaller-font-size);
  }
  .linkSecundarios {
    display: none;
  }

  .contactos .informacion li span:nth-child(1) {
    /* font-size: 20px; */
    font-size: var(--normal-font-size);
  }
  .contactos .informacion li span {
    font-size: var(--smaller-font-size);
  }
  .contactos .informacion li a {
    font-size: var(--smaller-font-size);
  }
  .copyrightTexto {
    font-size: var(--minimal-font-size);
  }

  /** Responsive Design -Services      */

  .servicesRD {
    position: relative;
    width: 100%;
    min-height: var(--section-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .servicesRD .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicesRD .title h2 {
    font-family: var(--font-titulos);
    color: var(--color-texto-RD);
    background-color: transparent;
  }

  .servicesRD h3 {
    color: var(--color-texto-RD);
    font-size: var(--h3-font-size);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
  .servicesRD span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: 2rem;
  }
  .servicesRD ul {
    text-align: center;
    font-size: 1.15rem;
    color: var(--color-texto-RD);
    text-decoration: none;
    list-style: none;
    line-height: 45px;
  }
  .servicesRD ul li span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: var(--normal-font-size);
  }

  .servicesRD .mainUL {
    text-align: left;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: none;
    line-height: 30px;
    padding: 60px;
    margin-left: 30px;
  }

  /* .servicesRD .mainUL .secondaryUL {
    padding: 0;
    margin-left: -10px;
  } */

  .servicesRD .mainUL .secondaryUL {
    text-align: left;
    margin-left: 30px;
    font-size: var(--normal-font-size);
    color: var(--color-texto-RD);
    list-style: square;
    line-height: 30px;
    padding: 0;
    margin-left: -10px;
  }
  .servicesRD .secondaryUL li span {
    font-weight: 700;
    color: var(--color-pagina);
    font-size: var(--normal-font-size);
  }

  .lista ul.mainUL li::before {
    content: "|";
    position: absolute;
    left: 70px;
    font-size: 20px;
  }
  .lista ul.secondaryUL li::before {
    content: "";
  }

  .servicesRD .lista li:nth-child(1)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(2)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(3)::before {
    color: #b80070;
  }

  .servicesRD .lista li:nth-child(4)::before {
    color: #00b870;
  }

  .servicesRD .lista li:nth-child(5)::before {
    color: #7000b8;
  }

  .servicesRD .lista li:nth-child(6)::before {
    color: #70b800;
  }

  .servicesRD .lista li:nth-child(7)::before {
    color: #ff0000;
  }
  .servicesRD .lista li:nth-child(12)::before {
    color: #ff4900;
  }

  .servicesRD .lista li:nth-child(13)::before {
    color: #00ffff;
  }

  .servicesRD .lista li:nth-child(14)::before {
    color: #00b870;
  }
}

/*: iPhone 6/7/8 devices */
@media screen and (max-width: 375px) {
  /* .container {
    max-width: 375px;
  } */
  .nav__menu {
    width: 70%;
    padding: 1rem;
  }
  /* Espacio entre los enlaces del Menu Nav */
  .nav__list {
    /* row-gap: 2.5rem;
    column-gap: 2.5rem; */
    flex-direction: column;
    row-gap: 2.5rem; /* Espacio entre los enlaces del Menu Nav */
  }

  .nav__item {
    color: var(--color-logo);
    padding: 2.5rem;
  }

  .galeria .title {
    margin: 30px;
  }
  .servicesRD .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .servicesRD .title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .servicesRD .title h2 {
    margin-left: 0;
    padding: 0;
    text-align: center;
  }

  .servicesRD .mainUL {
    text-align: left;
    padding: 60px;
    margin-left: 30px;
  }
  .servicesRD .mainUL .secondaryUL {
    padding-left: 0;
    margin-left: -10px;
  }

  .lista ul.mainUL li::before {
    content: "|";
    position: absolute;
    left: 70px;
    font-size: 20px;
  }
  .lista ul.secondaryUL li::before {
    content: "";
  }
  .servicesRD .mainUL h3 {
    padding: 0;
    margin-left: 0;
    justify-content: center;
  }
}

/*# For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*: Navigation Menu & Dark Theme MEDIA QUERIES  */

/* Estilos para dispositivos mayores a 768px -iPads y Desktops */

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    /* color: var(--white-color); */
    color: var(--color-logo);
    text-transform: initial;
  }
  .nav__link:hover {
    color: #999;
    opacity: 0.7;
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1.5rem; /* Espacio entre los enlaces del Menu Nav */
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    /* color: var(--white-color); */
    color: var(--color-logo);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*# For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  /* .container {
    max-width: 768px;
  } */
  section {
    padding-top: 0;
    padding-bottom: 1.25rem;
  }
  .nav__logo,
  .nav__toggle {
    color: var(--color-logo);
  }
  .servicesRD .mainUL {
    text-align: left;
    padding: 60px;
    margin-left: 30px;
  }
}
