/* -------------------------------------- */
/*: Responsive styles smartphone */
/* -------------------------------------- */

@media screen and (max-width: 414px) {
  .mainBox,
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .clientes,
  .galeria,
  .muro,
  .aboutUs,
  .profile,
  .footer {
    max-width: 414px;
  }
  section .servicios {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
