/* -------------------------------- */
/*#  Responsive Design for iPhone XS */
/* -------------------------------- */

@media screen and (max-width: 414px) {
  /* [id] {
    scroll-margin-top: 20ex;
  } */

  section {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .scroll-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .title {
    font-size: 16px;
    height: 16px;
  }
  /*# -- "Inicio" Section -- */

  .flex_Box {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: left;
  }

  .logo_Box .logo_Titulo {
    font-size: 1.5rem;
    padding: 10px 0 0 20px;
  }
  .logo_Titulo span {
    font-size: 0.8rem;
  }
  .logo_Subtitulo {
    font-size: 0.6rem;
    justify-self: center;
  }

  .subtitleBox .contactInfo_subTitle h6 {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 15px;
  }

  .contactInfo_Phone {
    font-size: 0.8rem;
    padding: 20px;
    justify-self: flex-end;
  }

  .swiperPage-title {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  }

  /* # Navigation Menu */

  .menu_Nav .fas.fa-bars {
    visibility: visible;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 70px;
    margin-right: 10px;
    /* top: 0; */
    left: 300px;
  }
  .menu_Box {
    position: absolute;
    /* top: -1px; */
    top: 20px;
    left: -200px;
    width: 20%;
    background: rgba(28, 54, 67, 0.7);
    transition: 0.5s;
    z-index: 101;
  }
  .menu_li {
    width: 150px;
    opacity: 1;
  }
  .menu_li_a {
    width: 300px;
    font-size: 0.8em;
  }
  .menu_li_a:hover {
    color: #fff;
    opacity: inherit;
    border-radius: inherit;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid var(--color-pagina);
  }
  .social_Icon {
    top: 300px;
    left: 87.5%;
    z-index: 10;
  }
  .social_Icon [class*="fa-"] {
    margin: 0px 15px 45px 5px;
    font-size: 2em;
    width: 25px;
    height: 25px;
  }
  .banner_Icon {
    top: 520px;
    left: 87.5%;
    z-index: 10;
  }
  .banner_Icon [class*="fa-"] {
    font-size: 2.6em;
    color: var(--color-whatsapp);
  }
  .whatsapp_Texto span {
    top: 560px;
    left: 170px;
    width: 160px;
    font-size: 14px;
    z-index: 10;
  }
  .swiper-container.slideshow1.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal.swiper-container-ios {
    padding-top: 150px;
    padding-bottom: 0px;
  }

  /*# -- "Cards" Section -- */
  .cards {
    padding-top: 60px;
    min-height: 400px;
  }
  .cards .title h2 {
    width: 70%;
    margin-top: 20px;
    font-size: 1.5em;
  }
  .cards .cardsBx {
    display: block;
    top: 0;
    left: 0;
  }
  .cards .cardsBx .card {
    width: 300px;
    height: 250px;
    margin: 40px auto;
    text-align: center;
  }
  .cards .cardsBx .card img {
    width: 300px;
    height: 250px;
  }
  .cards .cardsBx .card .boton_mostrar {
    width: 90px;
    left: 32%;
    transform: translateY(-32%);
  }

  /*# -- "Servicios" Section -- */
  .servicios {
    min-height: 400px;
    overflow: hidden;
  }

  .servicios .container-all {
    perspective: 3000px;
    width: 210px;
    /* margin-top: 70px;
    margin-left: 0; */
  }
  .servicios .title h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* Click arrow */
  .servicios .title .fas.fa-arrow-right {
    display: none;
  }
  /* Click */
  .servicios .title h3 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* left: 210px; */
    font-size: 12px;
  }
  .lightbox {
    /* width: 28%; */
    top: 120px;
    left: 0;
  }
  .close {
    position: absolute;
    top: -30px;
    left: 5px;
    z-index: 2;
  }
  /* .lightbox {
    position: fixed;
    top: 350px;
    left: 5px;
    transition: transform 1.5s ease-in-out;
    transform: scale(0);
    z-index: 100;
  } */
  /* .box-texto {
    position: relative;
    width: 405px;
    height: 150px;
  }
  .box-texto h3 {
    font-size: 10px;
    line-height: 12px;
    padding: 5px 0 7px 0;
  }
  .box-texto p {
    padding: 0 10px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
  }
  .box-texto p span {
    color: var(--color-pagina);
    font-size: 4em;
    text-align: center;
  } */

  /* .box-texto .alarma,
  .box-texto .torniquete {
    padding: 5px 5px;
    text-align: justify;
    line-height: 1.1em;
  } */

  /*# -- "Security" Section -- */
  .security {
    padding-top: 80px;
    min-height: 500px;
  }
  .security .title h2 {
    font-size: 1.5em;
  }
  .security .row .col50 h3 {
    font-size: 0.8em;
  }
  .security .row .col50 h3 span {
    font-size: 1.3em;
  }
  .security .row .col50 ul {
    font-size: 0.8em;
    line-height: 20px;
  }
  .security .row .col50 ul li span {
    font-size: 1.2em;
  }
  .security .row .col50 p {
    font-size: 0.8em;
  }
  .security .row .col50 p span {
    font-size: 1em;
  }
  .security .row .col50 .secondaryUL {
    margin-left: 50px;
    font-size: 0.8em;
    line-height: 20px;
  }
  .security .row .col50 .secondaryUL li span {
    font-size: 1.2em;
  }
  .swiper-container.slideshow2 .swiper-wrapper .swiper-slide img {
    width: 190px;
    height: 190px;
    object-fit: cover;
  }
  .security .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 100px;
  }

  /*# -- "Control de Acceso" Section -- */
  .ctrlAcceso {
    min-height: 500px;
    padding-top: 80px;
  }
  .ctrlAcceso .row .col50 h3 {
    font-size: 0.8em;
  }
  .ctrlAcceso .row .col50 h3 span {
    font-size: 1.3em;
  }
  .ctrlAcceso .row .col50 ul {
    font-size: 0.8em;
    line-height: 20px;
  }
  .ctrlAcceso .row .col50 ul li span {
    font-size: 1.2em;
  }
  .ctrlAcceso .row .col50 .secondaryUL {
    margin-left: 30px;
    font-size: 1em;
    line-height: 15px;
  }
  .ctrlAcceso .row .col50 .secondaryUL li span {
    font-size: 1em;
    /* line-height: 15px; */
  }
  .ctrlAcceso .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 180px;
  }

  /*# -- "Telecomunicaciones" Section -- */
  .telco {
    min-height: 400px;
    padding-top: 80px;
  }
  .telco .row .col50 h3 {
    font-size: 0.8em;
  }
  .telco .row .col50 h3 span {
    font-size: 1.3em;
  }
  .telco .row .col50 .mainUL {
    font-size: 0.8em;
    line-height: 20px;
  }
  .telco .row .col50 .mainUL li span {
    font-size: 1.2em;
  }
  .telco .row .col50 .secondaryUL {
    margin-left: 30px;
    font-size: 1em;
    line-height: 15px;
  }
  .telco .row .col50 .secondaryUL li span {
    font-size: 1em;
  }
  .telco .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 140px;
  }
  .telco .title h2 {
    font-size: 1.5em;
  }

  /*# -- "Clientes" Section -- */
  .clients {
    min-height: 500px;
    padding-top: 80px;
    margin-top: 0;
  }
  .clients .title h2 {
    /* margin-bottom: 30px; */
    margin: 0;
  }
  .clients .title h2 span {
    font-size: 0.7em;
  }

  /*# -- "Obras" Section -- */
  .galeria {
    padding-top: 60px;
  }
  .galeria-titulo {
    margin: 0;
  }
  .galeria-titulo span {
    font-size: 0.9em;
  }

  .container_Galeria {
    grid-template-columns: repeat(3, 1fr);
  }
  .container_Galeria .gallery-container:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .container_Galeria .gallery-container:nth-child(7) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .container_Galeria .gallery-container:nth-child(9) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .container_Galeria .gallery-container:nth-child(13) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .container_Galeria .gallery-container:nth-child(15) {
    grid-column: span 1;
    grid-row: span 1;
  }

  /*# -- AboutUs  -Muro de presentación -- */

  .muro {
    width: 100vw;
    min-height: 400px;
  }

  .box_muro {
    /* left: 50%;
    top: 50%; */
    width: 380px;
    height: 270px;
    /* margin-left: -190px; 
    margin-top: -150px;  */
  }
  .muro-subtitulo {
    padding: 5px;
    margin: 5px;
  }
  /* .muro-parrafo {
    font-size: 10px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 0px;
    letter-spacing: 0px;
  }
  .muro-parrafo span {
    font-size: 1em;
    line-height: 15px;
  } */

  /* -- Quienes somos?  Mosaico de Fotos -- */
  .aboutUs {
    /* min-height: 400px; */
    background-image: url(./../img/CYCS_iPhone.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-position: center center; */
    /* background-position: top; */
    /* background-size: 100%; */
  }
  .aboutUs .titulo {
    position: relative;
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  .aboutUs .titulo h2 {
    color: var(--color-pagina);
    margin: 0;
    font-size: 24px;
  }
  .aboutUs .titulo h2 span {
    font-size: 20px;
  }
  /* .aboutUs .subtitulo h3 {
    top: 120px;
    font-size: 12px;
  } */

  /*# -- Profile CEO  Section -- */
  .profile {
    flex-direction: column;
  }
  .profile-title {
    font-size: 1.5rem;
    margin: 20px;
  }

  /*# -- "Footer" Section -- */
  .footerSection {
    background: url(../img/footer/avila_iPhone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer {
    height: auto;
    padding: 40px;
    background: none;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container h2 {
    font-size: 16px;
  }
  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .sec.aboutus,
  .quicklinks,
  .contact {
    width: 100%;
  }
  footer .velo {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
    top: 0;
    left: 0;
  }
  footer p {
    font-size: 12px;
  }
  .quicklinks ul li a {
    font-size: 13px;
  }
  .contact {
    width: 100%;
    margin-right: 0 !important;
  }
  .contact .info li span {
    font-size: 13px;
  }
  .copyrightText {
    bottom: 0;
  }
  .copyrightText p {
    font-size: 0.5rem;
  }
}
