/* -------------------------------------- */
/*: Responsive styles smartphone */
/* -------------------------------------- */
@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs,
  .profile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 1024px;
  }
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs,
  .profile {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  body {
    max-width: 414px;
  }
  .cards,
  .servicios,
  .security,
  .ctrlAcceso,
  .telco,
  .muro,
  .aboutUs,
  .profile {
    display: none;
  }

  [id="home"] {
    scroll-margin-top: 7ex;
  }

  /*: Titulo Principal  */

  h2.elegantshadow {
    text-shadow: none;
  }
  h2.elegantshadow {
    font-size: 1.15rem;
    padding-bottom: 20px;
    margin-top: 0;
    color: var(--color-texto);
    background-color: rgba(231, 229, 228, 0.5);
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
  }

  /*: Iconos redes sociales  */

  .social_Icon [class*="fa-"] {
    font-size: 1.5em;
  }
  .social_Icon [class*="fa-"]:hover {
    transform: scale(1.3);
    transition: all 0.75s;
  }
  .social_Icon .fab.fa-instagram {
    width: 25px;
    height: 25px;
  }
  .social_Icon .fab.fa-instagram:hover {
    transform: scale(1.3);
    transition: all 0.75s;
  }
  .banner_Icon {
    top: 420px;
  }
  .whatsapp_Texto span {
    display: none;
  }
  .slideshow1 {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .slideshow1 .swiper-slide {
    height: 280px;
  }

  /*: Cientes y Proyectos     */

  .clients .title h2 {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: var(--biggest-font-size);
    line-height: 40px;
    color: var(--color-texto);
    align-self: center;
  }
  .clients .title h2 span {
    display: none;
    /* font-size: 0.75rem;
    line-height: 40px; */
  }
  .clients .title {
    margin: 0;
  }
  .clients .scroll-title {
    margin: 0;
  }
  .clientes .card {
    margin: 0 30px 20px 5px;
  }

  /*: Galería     */

  .container_Galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .galeria-titulo {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: var(--biggest-font-size);
    line-height: 40px;
    color: var(--color-texto);
  }
  .galeria-titulo span {
    display: none;
    /* font-size: 0.75rem;
    line-height: 40px; */
  }

  /*: Footer     */
  [id="contacto"] {
    scroll-margin-top: 7ex;
  }
  .footer {
    font-family: var(--font-footer);
  }
  .socialIcons {
    display: none;
  }
  .main .contenedor h2 {
    font-size: var(--small-font-size);
  }
  .main .contenedor .nosotros p {
    font-size: var(--smaller-font-size);
  }
  .linkSecundarios {
    display: none;
  }
  /* .linkSecundarios ul li a {
    font-size: var(--smaller-font-size);
  }

  .linkSecundarios ul li a.uno::before {
    top: 45px;
  }

  .linkSecundarios ul li a.dos::before {
    top: 80px;
  }

  .linkSecundarios ul li a.tres::before {
    top: 120px;
  }

  .linkSecundarios ul li a.cuatro::before {
    top: 160px;
  }

  .linkSecundarios ul li a.cinco::before {
    top: 195px;
  }

  .linkSecundarios ul li a.seis::before {
    top: 230px;
  } */
  .contactos .informacion li span:nth-child(1) {
    /* font-size: 20px; */
    font-size: var(--normal-font-size);
  }
  .contactos .informacion li span {
    font-size: var(--smaller-font-size);
  }
  .contactos .informacion li a {
    font-size: var(--smaller-font-size);
  }
  .copyrightTexto {
    font-size: var(--minimal-font-size);
  }

  /** Responsive Design -Services      */

  .servicesRD {
    position: relative;
    width: 100%;
    min-height: var(--section-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .servicesRD .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .servicesRD .title h2 {
    font-family: var(--font-titulos);
    color: var(--color-texto);
  }

  .servicesRD h3 {
    color: var(--color-texto);
    font-size: var(--h3-font-size);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
  .servicesRD span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: 2rem;
  }
  .servicesRD ul {
    text-align: center;
    font-size: 1.15rem;
    color: var(--color-texto);
    text-decoration: none;
    list-style: none;
    line-height: 45px;
  }
  .servicesRD ul li span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: var(--normal-font-size);
  }
  .servicesRD p {
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--color-texto);
  }
  .servicesRD p span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: 1em;
  }
  .servicesRD .secondaryUL {
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--color-texto);
    list-style: square;
    line-height: 30px;
  }
  .servicesRD .secondaryUL li span {
    color: var(--color-pagina);
    font-weight: 700;
    font-size: var(--normal-font-size);
  }
}
