@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Poppins:wght@100;400;500&display=swap");

/* El formato .eot ( Embedded Open Typestar ) fue desarrollado por Microsoft y es el único formato reconocido por los navegadores de tipo IE8 y más antiguos. */
/* el formato woff ( Web Open Font Formatstar ) soportado por la mayoría de los navegadores modernos incluso IE > 8 */
/* los formatos .ttf ( TrueType Fontstar ) y .otf ( OpenType Fontstar) muy interesantes sobre todo para los tipógrafos, y el formato .svg ( Scalabe Vector Graphics ) para Safari móvil. */

@font-face {
  font-family: "Bailey";
  font-display: swap;
  src: url(../fonts/Bailey.otf);
}
@font-face {
  font-family: "DancingScript";
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/DancingScript-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url(../fonts/Raleway-Medium.ttf), url(../fonts/Raleway-SemiBold.ttf),
    url(../fonts/Raleway-Bold.ttf);
}

/*: General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* CYCS & Co website colors */
  --color-pagina: #ff4c00;
  --color-logo: #9d8d6c;
  --scroll-link-color: #9d8d6c;
  --color-azulObscuro: #27607c;
  --color-azulMedio: #283c48;
  --color-azulClaro: #1e5271;
  --color-header: #284150;

  /* Social Media colors */
  --color-social-icons: #000;
  --color-whatsapp: #00bd2c;
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  /* Fonts */
  --font-titulos: "Times New Roman", "Open Sans Condensed", sans-serif;
  --font-proyectos: "Poppins", "Roboto", sans-serif;
  --font-logo: "Times New Roman", "Open Sans Condensed", sans-serif;
  --font-muro: "DancingScript", sans-serif;
  --font-lightbox: "Open Sans Condensed", sans-serif;
  --font-texto: "Times New Roman", "Open Sans Condensed", sans-serif;
  --font-menu: "Font Awesome 5 Free", "Times New Roman";
  --font-footer: Helvetica, Arial, sans-serif;
}

/*: Base styles  */

:root {
  --header-height: 3rem;
  --section-height: 100vh;

  /* Colors */
  --hue-color: 200;
  --body-color: hsl(var(--hue-color), 100%, 99%); /* Casi blanco #fafdfe */
  --title-color: hsl(
    var(--hue-color),
    100%,
    18%
  ); /* Azul muy Obscuro # 003d5c */
  --text-color: hsl(var(--hue-color), 24%, 35%); /* Azul grisaceo #44606f */

  --swiper-bg-color-show1: hsl(
    var(--hue-color),
    100%,
    99%
  ); /* Casi blanco #fafdfe */
  --swiper-bg-color: hsl(
    var(--hue-color),
    24%,
    35%
  ); /* Azul grisaceo #44606f */
  --muro-color: hsl(var(--hue-color), 100%, 99%); /* Casi blanco #fafdfe */
  --muro-bg-color: #273b47;
  --elegantShadow-bg-color: transparent;
  --animation-bg-color: hsl(
    var(--hue-color),
    24%,
    35%
  ); /* Azul grisaceo #44606f */
  --profile-link-color: #ff4c00;
  --footer-color: hsl(var(--hue-color), 100%, 99%); /* Casi blanco #fafdfe */
  --footer-bg-color: rgba(40, 60, 72, 0.5);
  --white-color: #fff;

  /* Font weight */
  --font-regular: 300;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Tag sizes */
  --biggest-font-size: 2.5rem;
  --exception-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.79rem;
  --minimal-font-size: 0.715rem;

  /* Margenes Bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mt-2-5: 2.5rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Hover overlay */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/*: Sizes to Desktop viewport */

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*: Variables Dark theme */

body.dark-theme {
  --body-color: hsl(
    var(--hue-color),
    29%,
    12%
  ); /* Gris súper obscuro #162227 */
  --title-color: hsl(var(--hue-color), 24%, 95%); /* Casi blanco #eff3f5 */
  --text-color: hsl(var(--hue-color), 8%, 75%); /* Gris claro #bac1c4 */

  --swiper-bg-color: hsl(var(--hue-color), 8%, 75%); /* Gris claro #bac1c4 */
  --muro-color: hsl(var(--hue-color), 8%, 75%); /* Gris claro #bac1c4 */
  --footer-color: hsl(var(--hue-color), 8%, 75%); /* Gris claro #bac1c4 */
  --elegantShadow-color: hsl(
    var(--hue-color),
    29%,
    12%
  ); /* Gris súper obscuro #162227 */
  --animation-bg-color: hsl(
    var(--hue-color),
    29%,
    12%
  ); /* Gris súper obscuro #162227 */
  --profile-link-color: hsl(
    var(--hue-color),
    24%,
    95%
  ); /* Casi blanco #eff3f5 */
}

[id] {
  scroll-margin-top: 2ex;
}

section {
  padding-top: 4.5rem; /* 72px */
  padding-bottom: 1.25rem; /* 20px */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* Reusable CSS classes */
/* .section {
  padding: 4.5rem 0 2.5rem;
} */

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*: Button Dark/Light theme */
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--color-logo);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*: Scrollreveals JS function */
.main {
  overflow-x: hidden;
}

.ri-arrow-right-line {
  color: var(--white-color);
}

/*: Website's specfic and internals classes */
.scroll-title {
  background: var(--body-color);
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.mainBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1370px;
  position: relative;
}

.section_Box {
  width: 100%;
  margin: 0 auto;
}

.flex_Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*: HEADER */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-header);
}

/*: NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--color-logo);
  text-transform: uppercase;
  font-size: var(--exception-font-size);
}
.nav__logo span {
  color: var(--color-logo);
  font-size: var(--normal-font-size);
  font-style: italic;
}
.nav__menu {
  position: relative;
}
.nav__list {
  display: flex;
  height: 100%;
}
.nav__link {
  font-size: var(--normal-font-size);
  margin: 0 10px;
  color: var(--color-logo);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-texto);
}
.nav__link:hover {
  opacity: 0.5;
}
.nav__toggle,
.nav__close {
  display: none;
}
.nav-dark {
  position: initial;
}
/* .change-theme-name {
  display: none;
} */
.change-theme {
  color: var(--text-color);
}

.oculto__servicesRD {
  display: none;
}

/*: Estilos Responsive Design para disposivos "Smartphone o iPad" solamente!!! */
@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: var(--h2-font-size);
    color: var(--color-logo);
  }
  .nav__logo span {
    font-size: var(--minimal-font-size);
    color: var(--color-logo); /* dorado */
  }
  .nav__menu {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    width: 65%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 1s;
    /** Configuración temporal, solo al inicio*/
    /* right: 0; */
    /** Ocultamos el menu y se manipula con JS en conjunto con la clase "show-menu" */
    right: -100%;
    transition: 0.4s;
  }

  .nav {
    padding: 0 20px;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--color-logo);
    cursor: pointer;
  }
  .nav__toggle {
    display: block;
    color: var(--color-logo);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    cursor: pointer;
  }
  .show-menu {
    right: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__link {
    color: var(--color-logo);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    margin: 0 10px;
  }
  .nav__link:hover {
    opacity: 0.65;
  }

  .oculto__services {
    visibility: hidden;
  }
  .oculto__servicesRD {
    display: block;
  }
}

/*: Change background header JS function */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}
.scroll-header .nav__logo {
  /* color: var(--color-pagina); */
  color: var(--color-logo);
}
.scroll-header .nav__logo span {
  color: var(--color-logo);
}
.scroll-header .nav__toggle {
  /* color: var(--text-color); */
  color: var(--color-logo);
}
.scroll-header .nav__link {
  color: var(--color-logo);
}
.scroll-header .nav__link:hover {
  opacity: 0.65;
}
.scroll-header .change-theme {
  color: var(--color-logo);
}

/* Marca el navegador activo en un momento dado */

/* Active link */
/* .active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
} */

/*: Button Dark/Light theme styles */
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--color-logo);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/* ----------------------- */
/*: Iconos redes sociales  */
/* ----------------------- */

.social_Icon {
  position: fixed;
  display: block;
  top: 225px;
  /* left: 20px; */
  right: 10px;
  z-index: 10;
}
.social_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 25px;
  height: 25px;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_Icon_Link {
  text-decoration: none;
}
.social_Icon .fab.fa-twitter {
  color: var(--color-twitter);
}
.social_Icon .fab.fa-instagram {
  font-size: 2em;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 60px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

/* ----------------------*/
/*: Icono de whatsapp    */
/* ----------------------*/

.banner_Icon {
  position: fixed;
  top: 72%;
  /* left: 20px; */
  right: 5px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.banner_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 35px;
  height: 35px;
  font-size: 2em;
  color: var(--color-whatsapp);
}

.banner_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

.whatsapp_Texto span {
  position: fixed;
  top: 80%;
  /* left: 20px; */
  right: 5px;
  width: 200px;
  background-color: var(--color-pagina);
  color: var(--white-color);
  padding: 5px 3px 5px 3px;
  border-radius: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 10;
}

.whatsapp_Texto:hover span {
  opacity: 1;
  visibility: visible;
}

/* -------------------------*/
/*: Swiper's sliders        */
/* -------------------------*/

.slideshow1 {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  transition: 1.5s;
}
.slideshow1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
.slideshow1 .swiper-slide img {
  border-radius: 5px;
}

.slideshow1 .swiper-container-horizontal {
  position: relative;
}

.slideshow1 .swiper-button-next,
.slideshow1 .swiper-button-prev {
  color: var(--swiper-bg-color-show1);
  position: absolute;
  top: 50%;
  margin-left: -8px;
  margin-right: -8px;
}
.slideshow1 .swiper-button-next::after,
.slideshow1 .swiper-button-prev::after {
  font-size: 3.5em;
  font-weight: 900;
}
.swiper-pagination-bullet {
  background: var(--color-pagina);
}

.mainTitle {
  display: none;
}
h2.elegantshadow {
  font-size: 2.5rem;
  font-size: var(exception-font-size);
  margin-top: 10px;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: var(--color-logo);
  /* background-color: #e7e5e4; */
  background-color: var(--elegantShadow-bg-color);
  letter-spacing: 0.15em;
}

/* --------------*/
/*: Cards        */
/* --------------*/

.cards {
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* min-height: var(--section-height); */
  min-height: 100%;
  margin: auto;
}
.cards .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .title h2 {
  width: 30%;
  color: #fff;
  font-size: 35px;
  background: var(--animation-bg-color);
  font-family: var(--font-titulos);
  margin-top: 2rem;
}

.cards__subtitle {
  font-size: 1.5rem;
  font-style: italic;
}
/* --------------------------------- */
/*: Card title animation routine     */
/* --------------------------------- */

.cards .title h2 span {
  /* display: table-cell; */
  animation: animate 2s linear infinite;
}
.cards .title h2 span:nth-child(1) {
  animation-delay: 0.25s;
}
.cards .title h2 span:nth-child(2) {
  animation-delay: 0.5s;
}
.cards .title h2 span:nth-child(3) {
  animation-delay: 0.75s;
}
.cards .title h2 span:nth-child(4) {
  animation-delay: 1s;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff;
  }
  5%,
  95% {
    color: var(--color-pagina);
    filter: blur(0px);
    text-shadow: none;
  }
}
/*: Ends Card title animation routine */

.cards .cardsBx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .cardsBx .card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 40px 40px;
  transition: all 1.5s ease-in-out;
  box-shadow: 6px 6px 5px grey;

  display: grid;
  place-items: start center;
  overflow: hidden;
}
.cards .cardsBx .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 59, 71, 0.2);
}

.cards .cardsBx .card h3 {
  position: absolute;
  margin-top: 10px;
  font-size: 1.7em;
  font-weight: 400;
  color: var(--white-color);
  text-align: center;
}
.cards .cardsBx .card h3 span {
  color: var(--color-pagina);
  font-size: 2em;
  font-weight: 700;
}
.cards .cardsBx .card .boton_mostrar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-menu);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background: rgba(39, 59, 71, 0.3);
  color: var(--white-color);
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.cards .cardsBx .card .boton_mostrar:hover {
  background-image: linear-gradient(to top, #ff4900 0%, #ffb199 100%);
}

/* --------------------------- */
/*: Carrousel de Servicios     */
/* --------------------------- */

.servicios {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  min-height: var(--section-height);
  margin: 0 auto;
}
.servicios .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 4.5rem;
}
.servicios .textBx {
  position: relative;
}
.servicios .clickText {
  position: absolute;
  top: 50%;
  left: 0.5em;
}

.servicios .clickText h4 {
  width: 100%;
  /* background: var(--text-color); */
  background: var(--animation-bg-color);
  font-size: 2em;
  padding: 0 20px;
  margin-top: 50%;
}

.servicios .clickText h4 span {
  font-size: 0.75em;
  color: var(--white-color);
  letter-spacing: 0.1em;
}
.servicios .clickText h4 .fa-arrow-right {
  /* margin: 0 10px; */
  font-size: 0.7em;
  color: var(--white-color);
}

/* --------------------------------- */
/*: Click & Arrow animation routine  */
/* --------------------------------- */

.servicios .clickText h4 span {
  animation: click 2.25s linear infinite;
  -webkit-animation: click 2.25s linear infinite;
}
.servicios .clickText h4 span:nth-child(1) {
  animation-delay: 0.25s;
}
.servicios .clickText h4 span:nth-child(2) {
  animation-delay: 0.5s;
}
.servicios .clickText h4 span:nth-child(3) {
  animation-delay: 0.75s;
}
.servicios .clickText h4 span:nth-child(4) {
  animation-delay: 1s;
}
.servicios .clickText h4 span:nth-child(5) {
  animation-delay: 1.25s;
}
@keyframes click {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff;
  }
  5%,
  95% {
    color: var(--color-pagina);
    filter: blur(0px);
    text-shadow: none;
  }
}
/*: Ends Click & Arrow animation routine */

.servicios .container-all {
  position: absolute;
  width: 210px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1000px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.servicios .container-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 45s infinite linear;
  transform-style: preserve-3d;
  z-index: 1;
}
.servicios .container-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.servicios .container-carrousel figure {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.servicios .container-carrousel figure img {
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.servicios .container-carrousel figure:hover {
  transition: all 300ms;
}
.servicios .container-carrousel figure h6 {
  color: var(--text-color);
  font-weight: 300;
  text-align: center;
}
.servicios .container-carrousel figure a {
  text-decoration: none;
}
.servicios .container-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}
.servicios .container-carrousel img {
  width: 100%;
  transition: all 1500ms;
  z-index: 1;
}
.servicios .container-carrousel img:hover {
  transform: scale(1.2);
  transition: all 1000ms;
  box-shadow: 0 0 0 1px #000, 0 0 0 1px grey, 0 10px 10px 2.5px #000;
}

/* ---------------------------------------------- */
/*: Lightbox texto de cada imagen en el carrousel */
/* ---------------------------------------------- */

.lightbox {
  position: fixed;
  top: 250px;
  right: 100px;
  transition: transform 1.5s ease-in-out;
  transform: scale(0);
  z-index: 10;
}

.box-texto {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 0px 5px 5px 0px;
  background: var(--color-azulObscuro);
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px grey, 0 1px 1px 0.5px #fff;
}

.box-texto h3 {
  position: relative;
  top: 0px;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.box-texto p {
  position: relative;
  top: 0px;
  padding: 0;
  /* font-size: 0.7em; */
  font-size: 0.6em;
  line-height: 0.5em;
  letter-spacing: 0.5px;
  color: var(--white-color);
  font-family: var(--font-lightbox);
  font-weight: 300;
}

.box-texto p span {
  color: var(--color-pagina);
  font-size: 6em;
  text-align: center;
}

.box-texto .telco,
.box-texto .camara,
.box-texto .alarma,
.box-texto .cerco,
.box-texto .portero,
.box-texto .torniquete,
.box-texto .biometrico,
.box-texto .vehicular {
  padding: 5px 10px;
  text-align: justify;
  line-height: 1.3em;
}

.box-texto .telco span,
.box-texto .alarma span,
.box-texto .cerco span,
.box-texto .portero span,
.box-texto .camara span,
.box-texto .torniquete span,
.box-texto .vehicular span,
.box-texto .biometrico span {
  line-height: 0;
  padding: 0;
}

.box-texto .camara {
  text-align: justify;
  line-height: 1em;
}

.box-texto .vehicular {
  text-align: justify;
  padding: 0 10px;
  line-height: 1em;
}

.close {
  display: block;
  position: absolute;
  top: 0px;
  left: 211px;
  background: var(--color-azulObscuro);
  color: var(--white-color);
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  z-index: 20;
}

/*: Esta sentencia activa el lightbox sobre cada imagen */

.lightbox:target {
  transform: scale(1);
}

.container-carrousel figure:nth-child(1):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(2):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(3):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(4):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(5):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(6):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(7):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(8):target .lightbox {
  transform: scale(1);
}

/* ----------------------------------*/
/*: Responsive Design -Servicios     */
/* ----------------------------------*/

.servicesRD {
  display: none;
}

/* --------------*/
/*: Security     */
/* --------------*/

.security {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.security .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.security .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.security .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.security .row .col50 {
  position: relative;
  width: 48%;
}
.security .row .col50 h3 {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.security .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.security .row .col50 ul {
  text-align: center;
  font-size: 1.5em;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
  line-height: 45px;
}
.security .row .col50 ul li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.security .row .col50 p {
  text-align: center;
  font-size: 1.3em;
  color: var(--text-color);
}
.security .row .col50 p span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}
.security .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 220px;
  font-size: 1.2em;
  color: var(--text-color);
  list-style: square;
  line-height: 30px;
}
.security .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}
.security .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.security .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------*/
/*: Security Swiper Effect    */
/* ---------------------------*/

.security .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.security .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.security .slideshow2 .swiper-slide img {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}

.security .swiper-container-horizontal {
  position: relative;
}

/* .security .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 120px;
} */

.security .swiper-button-next,
.security .swiper-button-prev {
  color: var(--swiper-bg-color);
  position: absolute;
  top: 35%;
  margin-left: -10px;
  margin-right: -10px;
}
.security .swiper-button-next::after,
.security .swiper-button-prev::after {
  font-size: 1.5em;
  font-weight: 700;
}

.security .swiper-container-horizontal > .swiper-pagination-fraction {
  color: var(--swiper-bg-color);
  font-weight: 700;
  position: absolute;
  bottom: 140px;
}

/* ---------------------*/
/*: Access Control      */
/* ---------------------*/

.ctrlAcceso {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.ctrlAcceso .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ctrlAcceso .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.ctrlAcceso .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ctrlAcceso .row .col50 {
  position: relative;
  width: 48%;
}
.ctrlAcceso .row .col50 h3 {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.ctrlAcceso .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.ctrlAcceso .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.ctrlAcceso .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ctrlAcceso .row .col50 h2 {
  text-align: center;
  margin-left: 10px;
  font-size: 3em;
}

.ctrlAcceso .row .col50 p {
  text-align: center;
  font-size: 2em;
  color: var(--text-color);
}
.ctrlAcceso .row .col50 ul {
  text-align: center;
  font-size: 1.5em;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
  line-height: 45px;
}
.ctrlAcceso .row .col50 ul li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.2em;
}
.ctrlAcceso .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 150px;
  font-size: 0.8em;
  color: var(--text-color);
  list-style: square;
  line-height: 30px;
}
.ctrlAcceso .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}

/* ---------------------------------*/
/*: Access Control Swiper Effect    */
/* ---------------------------------*/

.ctrlAcceso .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.ctrlAcceso .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.ctrlAcceso .swiper-container-horizontal {
  position: relative;
}

/* .ctrlAcceso .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 170px;  
} */

.ctrlAcceso .swiper-button-next,
.ctrlAcceso .swiper-button-prev {
  color: var(--swiper-bg-color);
  position: absolute;
  top: 35%;
  margin-left: -10px;
  margin-right: -10px;
}

.ctrlAcceso .swiper-button-next::after,
.ctrlAcceso .swiper-button-prev::after {
  font-size: 1.5em;
  font-weight: 700;
}

.ctrlAcceso .swiper-container-horizontal > .swiper-pagination-fraction {
  color: var(--swiper-bg-color);
  font-weight: 700;
  position: absolute;
  bottom: 180px;
}

/* ----------------------*/
/*: Telecommunication    */
/* ----------------------*/

.telco {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.telco .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.telco .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.telco .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.telco .row .col50 {
  position: relative;
  width: 48%;
}
.telco .row .col50 h3 {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.telco .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.telco .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.telco .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.telco .row .col50 .mainUL {
  text-align: center;
  font-size: 1.5em;
  color: var(--text-color);
  list-style: none;
  line-height: 45px;
}
.telco .row .col50 .mainUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.2em;
}
.telco .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 160px;
  font-size: 0.8em;
  color: var(--text-color);
  list-style: square;
  line-height: 30px;
}
.telco .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}

/* -----------------------------------*/
/*: Telecommunication Swiper Effect   */
/* -----------------------------------*/

.telco .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.telco .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.telco .swiper-container-horizontal {
  position: relative;
}

/* .telco .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 300px;
} */

.telco .swiper-button-next,
.telco .swiper-button-prev {
  color: var(--swiper-bg-color);
  position: absolute;
  top: 30%;
  margin-left: -10px;
  margin-right: -10px;
}

.telco .swiper-button-next::after,
.telco .swiper-button-prev::after {
  font-size: 1.5em;
  font-weight: 700;
}

.telco .swiper-container-horizontal > .swiper-pagination-fraction {
  color: var(--swiper-bg-color);
  font-weight: 700;
  position: absolute;
  bottom: 320px;
}

/* --------------------------*/
/*: CLIENTES y PROYECTOS     */
/* --------------------------*/

.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  margin: auto;
  min-height: var(--section-height);
  width: 100%;
  max-width: 1200px;
}
.clients .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clients .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.clients .title h2 span {
  font-size: 0.5em;
}
.clientes .card {
  position: relative;
  margin: 20px 30px 20px 5px;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 160px;
  height: 160px;
}

.clientes .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.clientes .card:hover .box {
  transform: rotateY(180deg);
}

.clientes .card .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clientes .card .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clientes .card .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-azulMedio);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.clientes .card .box .contentBx div {
  transform-style: preserve-3d;
  padding: 3px;
  background: linear-gradient(45deg, #83c2c7, #fff);
  transform: translateZ(100px);

  /*: ¡OJoooo! Estas dos instrucciones son nuevas -No existian */
  width: 100%;
  height: 75%;
}

.clientes .card .box .contentBx div h2 {
  margin-bottom: 2px;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
}

.clientes .card .box .contentBx div p {
  padding: 3px;
  letter-spacing: 0.4px;
  color: #000;
  font-family: var(--font-proyectos);
  font-weight: 500;
  text-transform: none;
  line-height: 1.4em;
  text-align: justify;
  font-size: 8px;
}

/* --------------------------------*/
/*: GALERÍA Fotos Obras Realizadas */
/* --------------------------------*/
[id="galeria"] {
  scroll-margin-top: 7ex;
}

.galeria {
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
  padding: 10px;
}

.galeria .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.galeria .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.galeria .title h2 span {
  font-size: 0.5em;
}

.container_Galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 2px;
  grid-auto-flow: dense;
}

.container_Galeria:hover .gallery-container:not(.hover) {
  opacity: 0.3;
  filter: grayscale(100%);
}

.container_Galeria .gallery-container {
  transition: 0.7s;
}
.container_Galeria .gallery-container:nth-child(1),
.container_Galeria .gallery-container:nth-child(6),
.container_Galeria .gallery-container:nth-child(11) {
  grid-row: span 2;
}
.container_Galeria .gallery-container:nth-child(2),
.container_Galeria .gallery-container:nth-child(7) {
  grid-column: span 2;
}
.container_Galeria .gallery-container .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.container_Galeria .gallery-container .gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container_Galeria .gallery-container .gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.7s ease-in-out;
}

/* ------------------------------*/
/*: Muro "Oficina de Proyectos"  */
/* ------------------------------*/

.muro {
  position: relative;
  width: 100%;
  min-height: var(--section-height);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_muro {
  width: 750px;
  height: 400px;
  background-color: var(--muro-bg-color);
  box-shadow: -0.5rem 0 1.5rem var(--muro-bg-color);
}
.box_textos_muro {
  text-align: center;
}
.muro-subtitulo {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 2em;
  margin: 10px;
  padding: 10px 10px 30px 10px;
}
.muro-parrafo {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  margin: 5px;
  line-height: 1px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.muro-parrafo span {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  line-height: 7px;
  text-align: center;
}
.muro-parrafo-span span {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  line-height: 24px;
  text-align: center;
}
.muro-lema {
  /* color: var(--color-pagina); */
  /* font-size: 2.5em; */
  color: var(--color-logo);
  margin-top: 2rem;
  font-size: 2em;
  font-family: var(--font-muro);
}

.muro .fas.fa-arrow-circle-down {
  position: absolute;
  right: 17.5%;
  bottom: 9%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ---------------------------------- */
/*: Quienes somos?  Mosaico de Fotos  */
/* ---------------------------------- */

.aboutUs {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  /* margin: auto;
  background-image: url(./../img/about.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0; */
}

.aboutUs .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .titulo {
  position: relative;
  width: 100%;
}

.aboutUs .titulo h2 {
  flex-direction: column;
  font-family: var(--font-titulos);
  letter-spacing: 2.5px;

  color: var(--text-color);
  padding: 0;
  background-color: transparent;
}

.aboutUs .titulo span {
  color: var(--text-color);
  opacity: 0.5;
}

.aboutUs .fas.fa-arrow-circle-down {
  position: absolute;
  right: 47.2%;
  bottom: 8.5%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--text-color);
  border-radius: 50%;
}

/* Sub-rutina para colocar un Titulo centrado al medio de la página con animación aparecer/desaparecer */

/* .aboutUs .subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .subtitulo h3 {
  position: relative;
  top: 200px;
  font-size: 40px;
  letter-spacing: 6px;
  color: rgba(255, 73, 0, 0.5);
  -webkit-text-stroke: 0.3vw rgba(28, 54, 67, 0.2);
  text-transform: uppercase;  
}

.aboutUs .subtitulo h3::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw rgba(28, 54, 67, 0.2);
  border-right: 4px solid rgb(255, 73, 0);
  overflow: hidden;
  animation: textAnimate 6s linear infinite;
}

@keyframes textAnimate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

/* --------------*/
/*: Profile CEO  */
/* --------------*/

.profile {
  text-align: justify;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto 0;
  padding: 0 0 20px 0;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-title {
  font-size: 35px;
  margin: 20px 0;
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.profile-title span {
  font-size: 14px;
  color: var(--text-color);
}

.profile-title .name {
  padding-top: 0.5em;
  font-style: italic;
}

.profile-details {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: normal;
  /* max-width: 550px; */
  max-width: 450px;
  margin: 20px 0;
  color: var(--text-color);
  font-family: var(--font-texto);
}

.profile-details a {
  text-decoration: underline;
  /* color: var(--profile-link-color); */
  color: var(--text-color);
  font-weight: 600;
}
.profile-details span {
  font-size: 0.8em;
  font-style: italic;
}

.profile-img-section {
  position: relative;
  /*: Convertir el width de la línea de bloque a inline para que abarque solo el size de la foto */
  display: inline;
}

.profile-img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  margin-top: 70px;
  border-radius: 50%;
}

/* .profile-img-line {
  background-color: var(--color-logo);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */

/* -----------*/
/*: FOOTER    */
/* -----------*/

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-texto);
}
.footer .title {
  margin-bottom: 4rem;
}
.footer .scroll-title {
  background: var(--body-color);
  color: var(--text-color);
}
.main {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: url(../img/footer/avila.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.main .contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  padding: 0 50px;
}

.main .contenedor .comun.nosotros {
  width: 30%;
}
.main .contenedor h2 {
  position: relative;
  color: var(--footer-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.main .contenedor h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.main .contenedor .nosotros p {
  text-align: justify;
  line-height: 24px;
  font-size: 0.9rem;
}

.linkSecundarios {
  position: relative;
  width: 25%;
  padding-left: 50px;
  font-size: 0.9rem;
}
.linkSecundarios ul li {
  list-style: none;
}
.linkSecundarios ul li a {
  color: var(--footer-color);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.linkSecundarios ul li a:hover {
  color: #999;
}
.linkSecundarios ul li a.uno {
  margin-top: 20px;
}
.linkSecundarios ul li a::before {
  content: "|";
  position: absolute;
  left: 20px;
}

.linkSecundarios ul li a.uno::before {
  top: 55px;
  color: #ff4900;
}

.linkSecundarios ul li a.dos::before {
  top: 90px;
  color: #00ffff;
}

.linkSecundarios ul li a.tres::before {
  top: 130px;
  color: #00bd2c;
}

.linkSecundarios ul li a.cuatro::before {
  top: 170px;
  color: #ecf00b;
}

.linkSecundarios ul li a.cinco::before {
  top: 205px;
  color: #ffffff;
}

.linkSecundarios ul li a.seis::before {
  top: 240px;
  color: #ff0000;
}

.contactos {
  /* width: calc(35% - 60px);
  margin-right: 0 !important; */
  font-size: 0.9rem;
}
.contactos .informacion {
  position: relative;
}
.contactos .informacion li {
  display: flex;
  margin-bottom: 16px;
}
.contactos .informacion li span:nth-child(1) {
  margin-right: 10px;
}
.contactos .informacion li span {
  line-height: 24px;
}
.contactos .informacion li a {
  color: var(--footer-color);
  text-decoration: none;
}
.contactos .informacion li a:hover {
  color: #999;
}
.copyrightTexto {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-header);
  font-size: 0.7rem;
}
.copyrightTexto span {
  font-weight: 100;
  font-style: italic;
}

/*: Footer Responsive Design */

@media (max-width: 991px) {
  /** Footer */
  .main {
    padding: 40px;
  }
  .main .contenedor {
    flex-direction: column;
  }
  .main .contenedor .comun {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .main .contenedor .comun.nosotros,
  .linkSecundarios,
  .contactos {
    width: 100%;
  }
  .linkSecundarios {
    padding-left: 0;
  }
  .linkSecundarios ul li a {
    padding-left: 20px;
  }
  .linkSecundarios ul li a.uno {
    margin-top: 20px;
  }
  .linkSecundarios ul li a:before {
    left: 0px;
  }
  .copyrightTexto {
    padding: 8px 40px;
  }
}
