@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

@font-face {
  font-family: "Bailey";
  font-display: swap;
  src: url(../fonts/Bailey.otf);
}
@font-face {
  font-family: "DancingScript";
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/DancingScript-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url(../fonts/Raleway-Medium.ttf), url(../fonts/Raleway-SemiBold.ttf),
    url(../fonts/Raleway-Bold.ttf);
}

:root {
  /*_ Header size */
  --header-height: 3rem;

  /*_ Sections height size */
  --section-height: 100vh;

  /*_ Colors */
  --hue-color: 200;
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --title-color: hsl(var(--hue-color), 100%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --white-color: #fff;

  /*_ Font weight */
  --font-regular: 300;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*_ Tag sizes */
  --biggest-font-size: 2.5rem;
  --exception-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.79rem;
  --minimal-font-size: 0.715rem;

  /*_ Margenes Bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mt-2-5: 2.5rem;

  /*_ z-index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /*_ Hover overlay */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/*: Sizes to Desktop viewport */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*: Variables Dark theme */
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --box-shadow-slider: none;
  --background-slider: hsl(var(--hue-color), 29%, 12%);
  --background-slider-gradient: linear-gradient(
    to right,
    rgba(22, 34, 39, 1) 0%,
    rgba(22, 34, 39, 0) 100%
  );
}

/*: General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* CYCS & Co website colors */

  --color-pagina: #ff4c00;
  --color-azulObscuro: #27607c;
  --color-azulMedio: #283c48;
  --color-azulClaro: #1e5271;
  --color-blanco: #fff;
  --color-header: #284150;
  --color-texto: #27607c;

  /* Social Media colors */

  --color-social-icons: #000;
  --color-whatsapp: hsl(134, 100%, 37%);
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  /* Fonts */

  --font-titulos: "DancingScript", cursive;
  --font-proyectos: "Roboto", sans-serif;
  --font-logo: "Times New Roman";
  --font-muro: "Bailey", sans-serif;
  --font-lightbox: "Open Sans Condensed", sans-serif;
  --font-texto: "Raleway", sans-serif;
  --font-menu: "Font Awesome 5 Free", "Times New Roman";
}
/*: Base styles  */

/* [id] {
  scroll-margin-top: 2ex;
} */

section {
  /* padding-top: 80px; */ /* 1ra version */
  /* padding-top: 60px; */ /* 2da versión */
  padding-top: 4.5rem; /* 72px */
  padding-bottom: 1.25rem; /* 20px */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/*: Reusable CSS classes */
/* .section {
  padding: 4.5rem 0 2.5rem;
} */

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /* margin-left: var(--mb-1);
  margin-right: var(--mb-1); */
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*: Button Dark/Light theme */
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*: Scrollreveals JS function */
.main {
  overflow-x: hidden;
}

.ri-arrow-right-line {
  color: var(--white-color);
}

/*: Website's specfic and internals classes */
.scroll-title {
  background: var(--color-blanco);
  /* margin-top: 40px;
  margin-bottom: 30px; */
  margin-bottom: 30px;
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
}

.mainBox {
  width: 100%;
  /* height: 100vh; version original */
  /* height: auto; 1ra. version */
  height: 100%;
  margin: 0 auto;
  max-width: 1370px;
  position: relative;
}

.section_Box {
  width: 100%;
  margin: 0 auto;
}

.flex_Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*: HEADER */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-header);
}

/*: NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--color-pagina);
  text-transform: uppercase;
  font-size: var(--exception-font-size);
}
.nav__logo span {
  color: var(--color-blanco);
  font-size: var(--normal-font-size);
  font-style: italic;
}
.nav__menu {
  position: relative;
}
.nav__list {
  display: flex;
  height: 100%;
}
.nav__link {
  font-size: var(--smaller-font-size);
  margin: 0 10px;
  color: var(--color-blanco);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-texto);
}
.nav__link:hover {
  opacity: 0.5;
  /* color: var(--color-pagina); */
}
.nav__toggle,
.nav__close {
  display: none;
}

/*: Mobile responsive design styles */
@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: var(--h2-font-size);
  }
  .nav__logo span {
    font-size: var(--minimal-font-size);
  }
  .nav__menu {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    width: 65%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 1s;
    /*# Configuración temporal, solo al inicio*/
    /*right: 0; */
    /*# Ocultamos el menu y se manipula con JS en conjunto con la clase "show-menu" */
    right: -100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  .nav {
    padding: 0 20px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    row-gap: 2.5rem;
  }
  .nav__close {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--color-texto);
    cursor: pointer;
  }
  .nav__toggle {
    display: block;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    cursor: pointer;
  }
  .show-menu {
    right: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__link {
    color: var(--color-texto);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
  }
  .nav__link:hover {
    opacity: 0.65;
    color: var(--color-texto);
  }
}

/*: Change background header JS function */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}
.scroll-header .nav__logo {
  color: var(--color-pagina);
}
.scroll-header .nav__logo span {
  color: var(--color-texto);
}
.scroll-header .nav__toggle {
  color: var(--color-texto);
}
.scroll-header .nav__link {
  color: var(--color-texto);
}
.scroll-header .nav__link:hover {
  opacity: 0.65;
}

/* Marca el navegador activo en un momento dado */

/* Active link */
/* .active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
} */

/*: Button Dark/Light theme styles */
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/* ----------------------- */
/*: Iconos redes sociales  */
/* ----------------------- */

.social_Icon {
  position: fixed;
  display: block;
  top: 225px;
  left: 20px;
  z-index: 10;
}
.social_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 25px;
  height: 25px;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_Icon_Link {
  text-decoration: none;
}
.social_Icon .fab.fa-twitter {
  color: var(--color-twitter);
}
.social_Icon .fab.fa-instagram {
  font-size: 2em;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 60px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

/* ----------------------*/
/*: Icono de whatsapp    */
/* ----------------------*/

.banner_Icon {
  position: fixed;
  top: 72%;
  left: 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.banner_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 25px;
  height: 25px;
  font-size: 2em;
  color: var(--color-whatsapp);
}

.banner_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

.whatsapp_Texto span {
  position: fixed;
  top: 80%;
  left: 20px;
  width: 200px;
  background-color: var(--color-pagina);
  color: var(--color-blanco);
  padding: 5px 3px 5px 3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 10;
}

.whatsapp_Texto:hover span {
  opacity: 1;
  visibility: visible;
}

/* -------------------------*/
/*: Swiper's sliders        */
/* -------------------------*/

.slideshow1 {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  transition: 1.5s;
}
.slideshow1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
.slideshow1 .swiper-slide img {
  border-radius: 5px;
}
.swiper-pagination-bullet {
  background: var(--color-pagina);
}

h2.elegantshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 2rem;
  font-size: var(exception-font-size);
  margin-top: 10px;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: var(--color-header);
  background-color: #e7e5e4;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
    -12px 24px 1px #cbc9c8, -13px 26px 1px #cfcdcd, -14px 28px 1px #d4d2d1,
    -15px 30px 1px #d8d6d5, -16px 32px 1px #dbdad9, -17px 34px 1px #d4d2d1,
    -18px 36px 1px #e2e0df, -19px 38px 1px #e4e3e2, -20px 40px 1px #e4e3e2;
}

/* --------------*/
/*: Cards        */
/* --------------*/

.cards {
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* min-height: var(--section-height); */
  min-height: 100%;
  margin: auto;
}
.cards .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .title h2 {
  width: 30%;
  color: #fff;
  font-size: 35px;
  background: var(--color-texto);
  font-family: var(--font-titulos);
}
/* --------------------------------- */
/*: Card title animation routine     */
/* --------------------------------- */

.cards .title h2 span {
  /* display: table-cell; */
  animation: animate 2s linear infinite;
}
.cards .title h2 span:nth-child(1) {
  animation-delay: 0.25s;
}
.cards .title h2 span:nth-child(2) {
  animation-delay: 0.5s;
}
.cards .title h2 span:nth-child(3) {
  animation-delay: 0.75s;
}
.cards .title h2 span:nth-child(4) {
  animation-delay: 1s;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    flutter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff;
  }
  5%,
  95% {
    color: var(--color-pagina);
    flutter: blur(0px);
    text-shadow: none;
  }
}
/*: Ends Card title animation routine */

.cards .cardsBx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .cardsBx .card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 40px 40px;
  transition: all 1.5s ease-in-out;
  box-shadow: 6px 6px 5px grey;

  display: grid;
  place-items: start center;
  overflow: hidden;
}
.cards .cardsBx .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 59, 71, 0.2);
}

.cards .cardsBx .card h3 {
  position: absolute;
  margin-top: 10px;
  font-size: 1.7em;
  font-weight: 400;
  color: var(--color-blanco);
  text-align: center;
}
.cards .cardsBx .card h3 span {
  color: var(--color-pagina);
  font-size: 2em;
  font-weight: 700;
}
.cards .cardsBx .card .boton_mostrar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-menu);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background: rgba(39, 59, 71, 0.3);
  color: var(--color-blanco);
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.cards .cardsBx .card .boton_mostrar:hover {
  background-image: linear-gradient(to top, #ff4900 0%, #ffb199 100%);
}

/* --------------------------- */
/*: Carrousel de Servicios     */
/* --------------------------- */

.servicios {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.servicios .title h2 {
  font-family: var(--font-titulos);
  color: var(--color-texto);
}
.servicios .textBx {
  position: relative;
}
.servicios .clicText {
  position: absolute;
  bottom: 2em;
  left: 1em;
}

.servicios .clicText h6 {
  font-size: 0.7em;
  color: var(--color-texto);
}

.servicios .clicText h6 span {
  font-size: 1em;
  font-style: italic;
  color: var(--color-texto);
}

.servicios .container-all {
  position: absolute;
  width: 210px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1000px;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.servicios .container-carrousel {
  width: 100%;
  position: absolute;
  /* animation: rotar 90s infinite linear; */
  animation-name: rotar;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-play-state: running;
  transform-style: preserve-3d;
  z-index: 1;
}
.servicios .container-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.servicios .container-carrousel figure {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.servicios .container-carrousel figure img {
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.servicios .container-carrousel figure:hover {
  transition: all 300ms;
}
.servicios .container-carrousel figure h6 {
  color: var(--color-texto);
  font-weight: 300;
  text-align: center;
}
.servicios .container-carrousel figure a {
  text-decoration: none;
}
.servicios .container-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}
.servicios .container-carrousel img {
  width: 100%;
  transition: all 1500ms;
  z-index: 1;
}
.servicios .container-carrousel img:hover {
  transform: scale(1.2);
  transition: all 1000ms;
  box-shadow: 0 0 0 1px #000, 0 0 0 1px grey, 0 10px 10px 2.5px #000;
}

/* ---------------------------------------------- */
/*: Lightbox texto de cada imagen en el carrousel */
/* ---------------------------------------------- */

.lightbox {
  position: fixed;
  top: 17.5rem;
  right: 12.5rem;
  transition: transform 1.5s ease-in-out;
  transform: scale(0);
  z-index: 10;
}

.box-texto {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 0px 5px 5px 0px;
  background: var(--color-azulObscuro);
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px grey, 0 1px 1px 0.5px #fff;
}

.box-texto h3 {
  position: relative;
  top: 0px;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-blanco);
}

.box-texto p {
  position: relative;
  top: 0px;
  padding: 0;
  font-size: 0.7em;
  line-height: 0.5em;
  letter-spacing: 0.5px;
  color: var(--color-blanco);
  font-family: var(--font-lightbox);
  font-weight: 300;
}

.box-texto p span {
  color: var(--color-pagina);
  font-size: 6em;
  text-align: center;
}

.box-texto .telco,
.box-texto .camara,
.box-texto .alarma,
.box-texto .cerco,
.box-texto .portero,
.box-texto .torniquete,
.box-texto .biometrico,
.box-texto .vehicular {
  padding: 5px 10px;
  text-align: justify;
  line-height: 1.3em;
}

.box-texto .telco span,
.box-texto .alarma span,
.box-texto .cerco span,
.box-texto .portero span,
.box-texto .camara span,
.box-texto .torniquete span,
.box-texto .vehicular span,
.box-texto .biometrico span {
  line-height: 0;
  padding: 0;
}

.box-texto .camara {
  text-align: justify;
  line-height: 1em;
}

.box-texto .vehicular {
  text-align: justify;
  padding: 0 10px;
  line-height: 1em;
}

.close {
  display: block;
  position: absolute;
  top: 0px;
  left: 211px;
  background: var(--color-azulObscuro);
  color: var(--color-blanco);
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  z-index: 20;
}

/*: Esta sentencia activa el lightbox sobre cada imagen */

.lightbox:target {
  transform: scale(1);
}

.container-carrousel figure:nth-child(1):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(2):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(3):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(4):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(5):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(6):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(7):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(8):target .lightbox {
  transform: scale(1);
}

/* --------------*/
/*: Security     */
/* --------------*/

.security {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.security .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.security .title h2 {
  font-family: var(--font-titulos);
  color: var(--color-texto);
}
.security .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.security .row .col50 {
  position: relative;
  width: 48%;
}
.security .row .col50 h3 {
  color: var(--color-texto);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.security .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.security .row .col50 ul {
  text-align: center;
  font-size: 1.5em;
  color: var(--color-texto);
  text-decoration: none;
  list-style: none;
  line-height: 45px;
}
.security .row .col50 ul li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.security .row .col50 p {
  text-align: center;
  font-size: 1.3em;
  color: var(--color-texto);
}
.security .row .col50 p span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}
.security .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 220px;
  font-size: 1.2em;
  color: var(--color-texto);
  list-style: square;
  line-height: 30px;
}
.security .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}
.security .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.security .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------*/
/*: Security Swiper Effect    */
/* ---------------------------*/

.security .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}
.security .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-blanco);
}
.security .slideshow2 .swiper-slide img {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}
.security .swiper-button-next,
.security .swiper-button-prev {
  color: var(--color-pagina);
}
.security .swiper-button-next::after,
.security .swiper-button-prev::after {
  font-size: 1.5em;
}

.security .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 120px;
}

/* ---------------------*/
/*: Access Control      */
/* ---------------------*/

.ctrlAcceso {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.ctrlAcceso .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ctrlAcceso .title h2 {
  font-family: var(--font-titulos);
  color: var(--color-texto);
}
.ctrlAcceso .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ctrlAcceso .row .col50 {
  position: relative;
  width: 48%;
}
.ctrlAcceso .row .col50 h3 {
  color: var(--color-texto);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.ctrlAcceso .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.ctrlAcceso .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.ctrlAcceso .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ctrlAcceso .row .col50 h2 {
  text-align: center;
  margin-left: 10px;
  font-size: 3em;
}

.ctrlAcceso .row .col50 p {
  text-align: center;
  font-size: 2em;
  color: var(--color-texto);
}
.ctrlAcceso .row .col50 ul {
  text-align: center;
  font-size: 1.5em;
  color: var(--color-texto);
  text-decoration: none;
  list-style: none;
  line-height: 45px;
}
.ctrlAcceso .row .col50 ul li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.2em;
}
.ctrlAcceso .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 150px;
  font-size: 0.8em;
  color: var(--color-texto);
  list-style: square;
  line-height: 30px;
}
.ctrlAcceso .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}

/* ---------------------------------*/
/*: Access Control Swiper Effect    */
/* ---------------------------------*/

.ctrlAcceso .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}
.ctrlAcceso .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.ctrlAcceso .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 170px;
}

/* ----------------------*/
/*: Telecommunication    */
/* ----------------------*/

.telco {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.telco .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.telco .title h2 {
  font-family: var(--font-titulos);
  color: var(--color-texto);
}
.telco .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.telco .row .col50 {
  position: relative;
  width: 48%;
}
.telco .row .col50 h3 {
  color: var(--color-texto);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.telco .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.telco .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.telco .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.telco .row .col50 .mainUL {
  text-align: center;
  font-size: 1.5em;
  color: var(--color-texto);
  list-style: none;
  line-height: 45px;
}
.telco .row .col50 .mainUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.2em;
}
.telco .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 160px;
  font-size: 0.8em;
  color: var(--color-texto);
  list-style: square;
  line-height: 30px;
}
.telco .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}

/* -----------------------------------*/
/*: Telecommunication Swiper Effect   */
/* -----------------------------------*/

.telco .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}
.telco .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.telco .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 300px;
}

/* --------------------------*/
/*: CLIENTES y PROYECTOS     */
/* --------------------------*/

.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  margin: auto;
  min-height: var(--section-height);
  width: 100%;
  max-width: 1200px;
}
.clients .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clients .title h2 {
  font-family: var(--font-titulos);
  color: var(--color-texto);
}
.clients .title h2 span {
  font-size: 0.5em;
}
.clientes .card {
  position: relative;
  margin: 20px 30px 20px 5px;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 160px;
  height: 160px;
}

.clientes .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.clientes .card:hover .box {
  transform: rotateY(180deg);
}

.clientes .card .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clientes .card .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clientes .card .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-azulMedio);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.clientes .card .box .contentBx div {
  transform-style: preserve-3d;
  padding: 3px;
  background: linear-gradient(45deg, #83c2c7, #fff);
  transform: translateZ(100px);

  /*: ¡OJoooo! Estas dos instrucciones son nuevas -No existian */
  width: 100%;
  height: 75%;
}

.clientes .card .box .contentBx div h2 {
  margin-bottom: 2px;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
}

.clientes .card .box .contentBx div p {
  padding: 3px;
  letter-spacing: 0.4px;
  color: #000;
  font-family: var(--font-proyectos);
  font-weight: 500;
  text-transform: none;
  line-height: 1.4em;
  text-align: justify;
  font-size: 8px;
}

/* --------------------------------*/
/*: GALERÍA Fotos Obras Realizadas */
/* --------------------------------*/

.galeria {
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
  background: var(--color-blanco);
}

.galeria-titulo {
  text-align: center;
  font-weight: 700;
  font-family: var(--font-titulos);
  color: var(--color-texto);
}

.galeria-titulo span {
  font-size: 0.5em;
  color: var(--color-texto);
}

.container_Galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 2px;
  grid-auto-flow: dense;
}

.container_Galeria:hover .gallery-container:not(.hover) {
  opacity: 0.3;
  filter: grayscale(100%);
}

.container_Galeria .gallery-container {
  transition: 0.7s;
}
.container_Galeria .gallery-container:nth-child(1),
.container_Galeria .gallery-container:nth-child(6),
.container_Galeria .gallery-container:nth-child(11) {
  grid-row: span 2;
}
.container_Galeria .gallery-container:nth-child(2),
.container_Galeria .gallery-container:nth-child(7) {
  grid-column: span 2;
}
.container_Galeria .gallery-container .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.container_Galeria .gallery-container .gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container_Galeria .gallery-container .gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.7s ease-in-out;
}

/* ------------------------------*/
/*: Muro "Oficina de Proyectos"  */
/* ------------------------------*/

.muro {
  position: relative;
  width: 100%;
  min-height: var(--section-height);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_muro {
  width: 750px;
  height: 400px;
  background-color: #273b47;
  /* box-shadow: -1rem 0 3rem #000; */
  box-shadow: -0.5rem 0 1.5rem #273b47;
}
.box_textos_muro {
  text-align: center;
}
.muro-subtitulo {
  color: var(--color-blanco);
  font-size: 2em;
  margin: 10px;
  padding: 10px 10px 30px 10px;
}
.muro-parrafo {
  color: var(--color-blanco);
  font-size: 1em;
  margin: 5px;
  line-height: 1px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.muro-parrafo span {
  color: var(--color-blanco);
  font-size: 1em;
  line-height: 7px;
  text-align: center;
}
.muro-parrafo-span span {
  color: var(--color-blanco);
  font-size: 1em;
  line-height: 24px;
  text-align: center;
}
.muro-lema {
  color: var(--color-pagina);
  font-size: 2.5em;
  font-family: var(--font-muro);
}

.muro .fas.fa-arrow-circle-down {
  position: absolute;
  right: 17.5%;
  bottom: 9%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--color-texto);
  border-radius: 50%;
}

/* ---------------------------------- */
/*: Quienes somos?  Mosaico de Fotos  */
/* ---------------------------------- */

.aboutUs {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
  background-image: url(./../img/about.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  padding: 60px 0 0 0;
}

.aboutUs .titulo {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutUs .titulo h2 {
  flex-direction: column;
  font-family: var(--font-titulos);
  color: var(--color-blanco);
  background: transparent;
  letter-spacing: 2.5px;
  padding-top: 30px;
}

.aboutUs .titulo span {
  color: var(--color-blanco);
  opacity: 0.5;
}

.aboutUs .fas.fa-arrow-circle-down {
  position: absolute;
  right: 47.2%;
  bottom: 8.5%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--color-texto);
  border-radius: 50%;
}

/* Sub-rutina para colocar un Titulo centrado al medio de la página con animación aparecer/desaparecer */

/* .aboutUs .subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .subtitulo h3 {
  position: relative;
  top: 200px;
  font-size: 40px;
  letter-spacing: 6px;
  color: rgba(255, 73, 0, 0.5);
  -webkit-text-stroke: 0.3vw rgba(28, 54, 67, 0.2);
  text-transform: uppercase;  
}

.aboutUs .subtitulo h3::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw rgba(28, 54, 67, 0.2);
  border-right: 4px solid rgb(255, 73, 0);
  overflow: hidden;
  animation: textAnimate 6s linear infinite;
}

@keyframes textAnimate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

/* --------------*/
/*: Profile CEO  */
/* --------------*/

.profile {
  text-align: justify;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-title {
  font-size: 35px;
  margin: 20px 0;
  font-weight: bold;
  color: var(--color-texto);
  text-align: left;
}

.profile-title span {
  font-size: 14px;
  color: var(--color-texto);
}

.profile-title .name {
  padding-top: 0.5em;
  font-style: italic;
}

.profile-details {
  font-size: 13px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: normal;
  max-width: 450px;
  margin: 20px 0;
  color: var(--color-texto);
  font-family: var(--font-texto);
}

.profile-img-section {
  position: relative;
  /*: Convertir el width de la línea de bloque a inline para que abarque solo el size de la foto */
  display: inline;
}

.profile-img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  margin-top: 70px;
}

.profile-img-line {
  background-color: var(--color-pagina);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* -----------*/
/*: FOOTER    */
/* -----------*/
/* [id="contacto"] {
  scroll-margin-top: 1ex;
} */

.footerSection {
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #ede7f6;
  background: url(../img/footer/avila.png);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgba(28, 54, 67, 0.8);
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sec {
  margin: 0 auto;
  padding: 20px 0 50px 20px;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff4900;
}

footer p {
  color: #fff;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.5px;
}

footer .container .sec.aboutus {
  width: 38%;
  text-align: justify;
}

footer .container .sec.aboutus p {
  width: 60%;
  line-height: 1.5;
}

.sci {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 60%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 10px;
}

.sci li a .fab {
  color: #fff;
  font-size: 16px;
}

.sci li a .fab.fa-twitter {
  color: var(--color-twitter);
}

.sci li a .fab.fab.fa-instagram {
  border-radius: 50px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.sci li a .fab.fab.fa-linkedin-in {
  color: var(--color-linkedin);
}

.sci li a .fab.fa-whatsapp {
  font-size: 20px;
  color: var(--color-whatsapp);
}

.sci li a:hover {
  transform: scale(1.4);
  transition: all 0.5s;
}

.quicklinks {
  position: relative;
  width: 25%;
}

.quicklinks ul li {
  list-style: none;
}

.quicklinks ul li a {
  color: var(--color-blanco);
  text-decoration: none;
  margin: 0.6em 0;
  display: inline-block;
  font-size: 13px;
}

.quicklinks ul li a:before {
  content: "|";
  position: absolute;
  left: 0;
  font-size: 20px;
}

.quicklinks ul li a.uno:before {
  top: 55px;
  color: #ff4900;
}

.quicklinks ul li a.dos:before {
  top: 87.5px;
  color: #00ffff;
}

.quicklinks ul li a.tres:before {
  top: 118.5px;
  color: #ffc0cb;
}

.quicklinks ul li a.cuatro:before {
  top: 152.5px;
  color: #ecf00b;
}

.quicklinks ul li a.cinco:before {
  top: 182.5px;
  color: #008000;
}

.quicklinks ul li a.seis:before {
  top: 215px;
  color: #d6249f;
}

.quicklinks ul li a:hover {
  color: var(--color-pagina);
  opacity: 0.5;
}

/* .contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
} */

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span {
  color: var(--color-blanco);
  font-size: 13px;
  line-height: 1.5;
}

.contact .info li span:nth-child(1) {
  color: var(--color-blanco);
  margin-right: 10px;
  font-size: 14px;
}

.contact .info li a {
  color: var(--color-blanco);
  text-decoration: none;
  font-size: 13px;
}

.contact .info li a:hover {
  color: var(--color-pagina);
  box-shadow: 0 0 0 1px transparent, 0 0 0 1px transparent,
    0px 5px 4px 1.5px #000;
}

.copyrightText {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 100px;
  text-align: center;
  color: #fff;
  background: rgba(28, 54, 67, 1);
  font-size: 11px;
  letter-spacing: 0.5px;
}

.copyrightText p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.copyrightText span {
  font-weight: bold;
  color: var(--color-pagina);
  font-style: italic;
}
