/* --------------------------*/
/*: CLIENTES y PROYECTOS     */
/* --------------------------*/

.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  margin: auto;
  min-height: var(--section-height);
  width: 100%;
  max-width: 1200px;
}
.clients .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clients .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.clients .title h2 span {
  font-size: 0.5em;
}
.clientes .card {
  position: relative;
  margin: 20px 30px 20px 5px;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 160px;
  height: 160px;
}

.clientes .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.clientes .card:hover .box {
  transform: rotateY(180deg);
}

.clientes .card .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clientes .card .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clientes .card .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-azulMedio);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.clientes .card .box .contentBx div {
  transform-style: preserve-3d;
  padding: 3px;
  background: linear-gradient(45deg, #83c2c7, #fff);
  transform: translateZ(100px);

  /*: ¡OJoooo! Estas dos instrucciones son nuevas -No existian */
  width: 100%;
  height: 75%;
}

.clientes .card .box .contentBx div h2 {
  margin-bottom: 2px;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
}

.clientes .card .box .contentBx div p {
  padding: 3px;
  letter-spacing: 0.4px;
  color: #000;
  font-family: var(--font-proyectos);
  font-weight: 500;
  text-transform: none;
  line-height: 1.4em;
  text-align: justify;
  font-size: 8px;
}

/* Copyright    */
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-texto);
}

.copyrightTexto {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-header);
  font-size: 0.7rem;
}

.copyrightTexto span {
  font-weight: 100;
  font-style: italic;
}

/*: Footer Responsive Design */
@media (max-width: 991px) {
  .copyrightTexto {
    padding: 8px 40px;
  }
}
