/* ---------------------*/
/*: Access Control      */
/* ---------------------*/

.ctrlAcceso {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
}
.ctrlAcceso .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ctrlAcceso .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin-top: 2rem;
}
.ctrlAcceso .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ctrlAcceso .row .col50 {
  position: relative;
  width: 48%;
}
.ctrlAcceso .row .col50 h3 {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}
.ctrlAcceso .row .col50 h3 span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.5em;
}
.ctrlAcceso .row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.ctrlAcceso .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ctrlAcceso .row .col50 h2 {
  text-align: center;
  margin-left: 10px;
  font-size: 3em;
}

.ctrlAcceso .row .col50 p {
  text-align: center;
  font-size: 2em;
  color: var(--text-color);
}
.ctrlAcceso .row .col50 ul {
  text-align: center;
  font-size: 1.5em;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
  line-height: 45px;
}
.ctrlAcceso .row .col50 ul li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1.2em;
}
.ctrlAcceso .row .col50 .secondaryUL {
  text-align: left;
  margin-left: 150px;
  font-size: 0.8em;
  color: var(--text-color);
  list-style: square;
  line-height: 30px;
}
.ctrlAcceso .row .col50 .secondaryUL li span {
  color: var(--color-pagina);
  font-weight: 700;
  font-size: 1em;
}

/* ---------------------------------*/
/*: Access Control Swiper Effect    */
/* ---------------------------------*/

.ctrlAcceso .slideshow2 {
  position: absolute;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.ctrlAcceso .slideshow2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.ctrlAcceso .swiper-container-horizontal {
  position: relative;
}

/* .ctrlAcceso .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 170px;  
} */

.ctrlAcceso .swiper-button-next,
.ctrlAcceso .swiper-button-prev {
  color: var(--swiper-bg-color);
  position: absolute;
  top: 35%;
  margin-left: -10px;
  margin-right: -10px;
}

.ctrlAcceso .swiper-button-next::after,
.ctrlAcceso .swiper-button-prev::after {
  font-size: 1.5em;
  font-weight: 700;
}

.ctrlAcceso .swiper-container-horizontal > .swiper-pagination-fraction {
  color: var(--swiper-bg-color);
  font-weight: 700;
  position: absolute;
  bottom: 180px;
}
