/* ------------------------------*/
/*: Muro "Oficina de Proyectos"  */
/* ------------------------------*/

.muro {
  position: relative;
  width: 100%;
  min-height: var(--section-height);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_muro {
  width: 750px;
  height: 400px;
  background-color: var(--muro-bg-color);
  box-shadow: -0.5rem 0 1.5rem var(--muro-bg-color);
}
.box_textos_muro {
  text-align: center;
}
.muro-subtitulo {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 2em;
  margin: 10px;
  padding: 10px 10px 30px 10px;
}
.muro-parrafo {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  margin: 5px;
  line-height: 1px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.muro-parrafo span {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  line-height: 7px;
  text-align: center;
}
.muro-parrafo-span span {
  /* color: var(--white-color); */
  color: var(--muro-color);
  font-size: 1em;
  line-height: 24px;
  text-align: center;
}
.muro-lema {
  /* color: var(--color-pagina); */
  /* font-size: 2.5em; */
  color: var(--color-logo);
  margin-top: 2rem;
  font-size: 2em;
  font-family: var(--font-muro);
}

.muro .fas.fa-arrow-circle-down {
  position: absolute;
  right: 17.5%;
  bottom: 9%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ---------------------------------- */
/*: Quienes somos?  Mosaico de Fotos  */
/* ---------------------------------- */

.aboutUs {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  /* margin: auto;
  background-image: url(./../img/about.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0; */
}

.aboutUs .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .titulo {
  position: relative;
  width: 100%;
}

.aboutUs .titulo h2 {
  flex-direction: column;
  font-family: var(--font-titulos);
  letter-spacing: 2.5px;

  color: var(--text-color);
  padding: 0;
  background-color: transparent;
}

.aboutUs .titulo span {
  color: var(--text-color);
  opacity: 0.5;
}

.aboutUs .fas.fa-arrow-circle-down {
  position: absolute;
  right: 47.2%;
  bottom: 8.5%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--text-color);
  border-radius: 50%;
}

/* Sub-rutina para colocar un Titulo centrado al medio de la página con animación aparecer/desaparecer */

/* .aboutUs .subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .subtitulo h3 {
  position: relative;
  top: 200px;
  font-size: 40px;
  letter-spacing: 6px;
  color: rgba(255, 73, 0, 0.5);
  -webkit-text-stroke: 0.3vw rgba(28, 54, 67, 0.2);
  text-transform: uppercase;  
}

.aboutUs .subtitulo h3::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw rgba(28, 54, 67, 0.2);
  border-right: 4px solid rgb(255, 73, 0);
  overflow: hidden;
  animation: textAnimate 6s linear infinite;
}

@keyframes textAnimate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

/* --------------*/
/*: Profile CEO  */
/* --------------*/

.profile {
  text-align: justify;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto 0;
  padding: 0 0 20px 0;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-title {
  font-size: 35px;
  margin: 20px 0;
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.profile-title span {
  font-size: 14px;
  color: var(--text-color);
}

.profile-title .name {
  padding-top: 0.5em;
  font-style: italic;
}

.profile-details {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: normal;
  /* max-width: 550px; */
  max-width: 450px;
  margin: 20px 0;
  color: var(--text-color);
  font-family: var(--font-texto);
}

.profile-details a {
  text-decoration: underline;
  /* color: var(--profile-link-color); */
  color: var(--text-color);
  font-weight: 600;
}
.profile-details span {
  font-size: 0.8em;
  font-style: italic;
}

.profile-img-section {
  position: relative;
  /*: Convertir el width de la línea de bloque a inline para que abarque solo el size de la foto */
  display: inline;
}

.profile-img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  margin-top: 70px;
  border-radius: 50%;
}

/* .profile-img-line {
  background-color: var(--color-logo);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */

/*: copyright   */
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-texto);
}

.copyrightTexto {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-header);
  font-size: 0.7rem;
}

.copyrightTexto span {
  font-weight: 100;
  font-style: italic;
}

/*: Footer Responsive Design */
@media (max-width: 991px) {
  .copyrightTexto {
    padding: 8px 40px;
  }
}
