/* --------------------------------*/
/*: GALERÍA Fotos de proveedores   */

section.proveedores {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding: 6rem 0;
}

.proveedores__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  background-image: url("../../img/bg-texture.jpg");
}

.proveedor {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: var(--transition);
}

.proveedor:hover {
  box-shadow: 5px 10px 10px rgba(124, 104, 62, 0.25);
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .proveedores__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .proveedores__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .proveedores__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
