section.contact {
  /* padding: 0.5rem 0 4rem 0; */
  padding: 4rem 0 4rem 0;
}

.containerForm {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.contact {
  background: url(../../img/footer/avila.png) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact__container {
  background: rgba(255, 255, 255, 0.6);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem; /* 480px */
  margin: 4rem auto;
  border-radius: 1rem;
}

.contact__aside {
  background: rgba(30, 82, 113, 0.8);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 7rem;
}

.aside__image {
  width: 11rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--white-color);
}
.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: var(--white-color);
  text-align: justify;
}

.contact__details li {
  display: flex;
  gap: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.contact__details h5 {
  font-weight: 100;
}

.contact__details h5 a {
  color: var(--white-color);
}

.contact__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}

.contact__socials a {
  background: var(--color-azulMedio);
  color: var(--white-color);
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact__socials a:hover {
  background: var(--white-color);
}

.contact__socials a:hover .uil-twitter {
  color: var(--color-twitter);
}
.contact__socials a:hover .uil-instagram {
  color: #fff;
  text-align: center;
  border-radius: 60px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.contact__socials a:hover .uil-linkedin-alt {
  color: var(--color-linkedin);
}
.contact__socials a:hover .uil-whatsapp {
  color: var(--color-whatsapp);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  height: 30rem;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);  
}

.form__name {
  display: flex;
  gap: 1.2rem;
}

.contact__form input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  background: var(--color-azulObscuro);
  color: var(--white-color);
}
input::placeholder,
textarea::placeholder {
  color: var(--footer-color);
  opacity: 0.5;
}

.contact .btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 5px;
  transition: (--transition);
}

.contact .btn {
  width: max-content;
  margin-top: 0;
  cursor: pointer;
}

.contact .btn:hover {
  background: var(--color-azulMedio);
  color: var(--white-color);
}

.contact .btn-primary {
  background: var(--color-btn-form);
  color: var(--white-color);
}

/*! iPad Pro o iPad in landscape mode  */
@media screen and (max-width: 1024px) {
  .contact {
    padding-bottom: 0;
  }

  .contact__container {
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact__aside {
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  .contact__form {
    align-self: center;
    margin-right: 1.5rem;
  }
}

/*! PC in smallest viewport mode */
@media screen and (max-width: 500px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    padding: 0;
  }

  .contact__form {
    margin: 0 1.5rem 3rem;
  }

  .form__name {
    flex-direction: column;
  }
  .form__name input[type="text"] {
    width: 100%;
  }
}
