/* ------------------------------*/
/*: Menu de Navegación           */
/* ------------------------------*/

.nav__link {
  margin: 0;
}

/* ---------------------------------- */
/*: Nosotros. Mosaico de Fotos        */
/* ---------------------------------- */

.equipo {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.equipo .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipo .imgBx img {
  width: 85%;
  height: 85%;
}

.equipo .titulo {
  position: relative;
  width: 100%;
}

.equipo .titulo h2 {
  flex-direction: column;
  font-family: var(--font-muro);
  color: var(--color-logo);
  letter-spacing: 2.5px;
  padding: 0;
  background-color: transparent;
  font-size: var(--h2);
  margin: 2rem auto;
}

.equipo .titulo span {
  color: var(--text-color);
  opacity: 0.5;
}

.equipo .fas.fa-arrow-circle-down {
  position: absolute;
  right: 30px;
  bottom: 0;
  margin: auto;
  font-size: 35px;
  background: transparent;
  /* color: var(--color-pagina); */
  color: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
}

/* Sub-rutina para colocar un Titulo centrado al medio de la página con animación aparecer/desaparecer */

/* .equipo .subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipo .subtitulo h3 {
  position: relative;
  top: 200px;
  font-size: 40px;
  letter-spacing: 6px;
  color: rgba(255, 73, 0, 0.5);
  -webkit-text-stroke: 0.3vw rgba(28, 54, 67, 0.2);
  text-transform: uppercase;  
}

.equipo .subtitulo h3::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw rgba(28, 54, 67, 0.2);
  border-right: 4px solid rgb(255, 73, 0);
  overflow: hidden;
  animation: textAnimate 6s linear infinite;
}

@keyframes textAnimate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

/* ------------------------------*/
/*: Muro "Oficina de Proyectos"  */
/* ------------------------------*/

.muro {
  position: relative;
  width: 100%;
  min-height: var(--section-height);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.box_muro {
  width: 750px;
  height: 400px;
  background-color: var(--muro-bg-color);
  box-shadow: -0.5rem 0 1.5rem var(--muro-bg-color);
}
.box_textos_muro {
  text-align: center;
}
.muro-subtitulo {
  color: var(--muro-color);
  font-size: 2em;
  margin: 10px;
  padding: 10px 10px 30px 10px;
}
.muro-parrafo {
  color: var(--muro-color);
  font-size: 1em;
  margin: 5px;
  line-height: 1px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.muro-parrafo span {
  /* color: var(--muro-color); */
  color: var(--color-pagina);
  font-size: 1em;
  line-height: 7px;
  text-align: center;
}
.muro-parrafo-span span {
  color: var(--muro-color);
  font-size: 1em;
  line-height: 24px;
  text-align: center;
}
.muro-lema {
  color: var(--color-logo);
  margin-top: 2rem;
  font-size: 2em;
  font-family: var(--font-muro);
}

.muro .fas.fa-arrow-circle-down {
  position: absolute;
  right: 17.5%;
  bottom: 9%;
  margin: auto;
  font-size: 35px;
  background: transparent;
  color: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* --------------*/
/*: Profile CEO  */
/* --------------*/

.profile {
  text-align: justify;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto 0;
  padding: 0 0 20px 0;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-title {
  font-size: 35px;
  margin: 20px 0;
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.profile-title span {
  font-size: 14px;
  color: var(--text-color);
}

.profile-title .name {
  padding-top: 0.5em;
  font-style: italic;
}

.profile-details {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: normal;
  max-width: 550px;
  margin: 20px 0;
  color: var(--text-color);
  font-family: var(--font-texto);
}

/* .profile-details small {
  color: var(--color-logo);
} */

.profile-details a {
  color: var(--color-logo);
  font-style: italic;
}

.profile-details a:hover {
  text-decoration: underline;
}

.profile-details span {
  font-size: 0.5rem;
}

.profile-img-section {
  position: relative;
  /*: Convertir el width de la línea de bloque a inline para que abarque solo el size de la foto */
  display: inline;
}

.profile-img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  margin-top: 70px;
  border-radius: 50%;
  box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.5);
}

/*: copyright   */
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-texto);
}

.copyrightTexto {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-header);
  font-size: 0.7rem;
}

.copyrightTexto span {
  font-weight: 100;
  font-style: italic;
}

/*! iPad Pro o iPad in landscape mode  */
@media screen and (max-width: 1024px) {
  section.muro {
    max-width: 100%;
    min-height: 400px;
    /* margin: 3rem auto 3rem auto; */
  }
  section.equipo {
    max-width: 100%;
    min-height: 400px;
    padding: 20px;
    /* margin: 3rem auto 3rem auto; */
  }
}

/*! PC styles  */
@media (max-width: 991px) {
  .copyrightTexto {
    padding: 8px 40px;
  }
}

/*! iPad Pro o iPad in Portrait mode  */
@media (max-width: 768px) {
  [id="equipo"] {
    scroll-margin-top: 12ex;
  }
  section.muro {
    margin: 3rem auto 3rem auto;
  }
  .box_muro {
    width: 80%;
    height: auto;
  }
  .muro-lema {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
  }
  .muro .fas.fa-arrow-circle-down {
    right: 40px;
    bottom: 0;
    background: transparent;
    /* color: var(--color-pagina); */
    color: var(--text-color);
  }
  section.equipo {
    max-width: 90%;
    min-height: 80%;
    margin: 3rem auto 3rem auto;
  }
  /* .equipo .titulo h2 {
    font-size: 2rem;
  } */
  .equipo .fas.fa-arrow-circle-down {
    right: 30px;
    bottom: 0;
  }
  .profile {
    max-width: 90%;
    flex-direction: column;
  }
  .profile-img {
    margin: 0;
  }
}

/*! Samsung J2 Pro */
@media (max-width: 540px) {
  .muro-parrafo {
    line-height: 2;
  }
  .muro-lema {
    font-size: 1.2rem;
  }
  /* .equipo .titulo h2 {
    font-size: 1.5rem;
  } */
}

/*! PC in smallest viewport mode */
/* @media (max-width: 500px) {
  .equipo .titulo h2 {
    font-size: 1.5rem;
  }
} */

/*! iPhone XS Max */
@media (max-width: 414px) {
  .muro-subtitulo {
    font-size: 1.5rem;
  }
  .muro-parrafo {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  h2.muro-lema {
    /* font-size: 0.8rem; */
    display: none;
  }
  .muro-lema {
    font-size: 1rem;
    margin: 0 0 10px 0;
  }
  /* .equipo .titulo h2 {
    font-size: 1rem;
  } */
  .profile-title .name {
    font-size: 1.2rem;
  }
  .profile-details {
    font-size: 0.8rem;
  }
}

/*! Laptops & PC responsive styles */
@media screen and (min-width: 769px) {
  .nav__list {
    flex-direction: row;
    column-gap: 1.5rem;
  }
}
