/* --------------------------- */
/*: Carrousel de Servicios     */
/* --------------------------- */

[id="services"] {
  scroll-margin-top: 7ex;
}
.servicios {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: var(--section-height);
  margin: auto;
  padding: 10px;
}
.servicios .title h2 {
  font-family: var(--font-titulos);
  color: var(--text-color);
  background-color: transparent;
  margin: 6rem 0 2.5rem 0;
}
.servicios .title h5 {
  text-align: center;
}

/* usado solo en modo responsive */
/* .rd__clickText {
  display: none;
}

.servicios .clickText {
  position: absolute;
  top: 45%;
  left: 0.5em;
}

.servicios .clickText h4 {
  width: 100%;
  background: var(--animation-bg-color);
  font-size: 2em;
  padding: 0 20px;
  margin-top: 50%;
}

.servicios .clickText h4 span {
  font-size: 0.75em;
  color: var(--white-color);
  letter-spacing: 0.1em;
}
.servicios .clickText h4 .fa-arrow-right {
  font-size: 0.7em;
  color: var(--white-color);
}  */

/* --------------------------------- */
/*: Click & Arrow animation routine  */
/* --------------------------------- */

/* .servicios .clickText h4 span {
  animation: click 2.25s linear infinite;
  -webkit-animation: click 2.25s linear infinite;
}
.servicios .clickText h4 span:nth-child(1) {
  animation-delay: 0.25s;
}
.servicios .clickText h4 span:nth-child(2) {
  animation-delay: 0.5s;
}
.servicios .clickText h4 span:nth-child(3) {
  animation-delay: 0.75s;
}
.servicios .clickText h4 span:nth-child(4) {
  animation-delay: 1s;
}
.servicios .clickText h4 span:nth-child(5) {
  animation-delay: 1.25s;
}
@keyframes click {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff;
  }
  5%,
  95% {
    color: var(--color-pagina);
    filter: blur(0px);
    text-shadow: none;
  }
} */
/*: Ends Click & Arrow animation routine */

.servicios .container-all {
  position: absolute;
  width: 210px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-35%);
  perspective: 1000px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.servicios .container-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 45s infinite linear;
  transform-style: preserve-3d;
  z-index: 1;
}
.servicios .container-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.servicios .container-carrousel figure {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.servicios .container-carrousel figure img {
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.servicios .container-carrousel figure:hover {
  transition: all 300ms;
}
.servicios .container-carrousel figure h6 {
  color: var(--text-color);
  font-weight: 300;
  text-align: center;
}
.servicios .container-carrousel figure a {
  text-decoration: none;
}
.servicios .container-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.servicios .container-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}
.servicios .container-carrousel img {
  width: 100%;
  transition: all 1500ms;
  z-index: 1;
}
.servicios .container-carrousel img:hover {
  transform: scale(1.2);
  transition: all 1000ms;
  box-shadow: 0 0 0 1px #000, 0 0 0 1px grey, 0 10px 10px 2.5px #000;
}

/* ---------------------------------------------- */
/*: Lightbox texto de cada imagen en el carrousel */
/* ---------------------------------------------- */

.lightbox {
  position: fixed;
  top: 200px;
  right: 100px;
  transition: transform 1.5s ease-in-out;
  transform: scale(0);
  z-index: 10;
}

.box-texto {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 0px 5px 5px 0px;
  background: var(--color-azulObscuro);
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px grey, 0 1px 1px 0.5px #fff;
}

.box-texto h3 {
  position: relative;
  top: 0px;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.box-texto p {
  position: relative;
  top: 0px;
  padding: 0;
  font-size: 0.6em;
  line-height: 0.5em;
  letter-spacing: 0.5px;
  color: var(--white-color);
  font-family: var(--font-lightbox);
  font-weight: 300;
}

.box-texto p span {
  color: var(--color-pagina);
  font-size: 6em;
  text-align: center;
}

.box-texto .telco,
.box-texto .camara,
.box-texto .alarma,
.box-texto .cerco,
.box-texto .portero,
.box-texto .torniquete,
.box-texto .biometrico,
.box-texto .vehicular {
  padding: 5px 10px;
  text-align: justify;
  line-height: 1.3em;
}

.box-texto .telco span,
.box-texto .alarma span,
.box-texto .cerco span,
.box-texto .portero span,
.box-texto .camara span,
.box-texto .torniquete span,
.box-texto .vehicular span,
.box-texto .biometrico span {
  line-height: 0;
  padding: 0;
}

.box-texto .camara {
  text-align: justify;
  line-height: 1em;
}

.box-texto .vehicular {
  text-align: justify;
  padding: 0 10px;
  line-height: 1em;
}

.close {
  display: block;
  position: absolute;
  top: 0px;
  left: 211px;
  background: var(--color-azulObscuro);
  color: var(--white-color);
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  z-index: 20;
}

/*: Esta sentencia activa el lightbox sobre cada imagen */

.lightbox:target {
  transform: scale(1);
}

.container-carrousel figure:nth-child(1):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(2):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(3):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(4):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(5):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(6):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(7):target .lightbox {
  transform: scale(1);
}

.container-carrousel figure:nth-child(8):target .lightbox {
  transform: scale(1);
}

.servicesRD {
  display: none;
}

/*! iPad Pro o iPad in landscape mode  */
@media screen and (max-width: 1024px) {
  .servicios {
    min-height: var(--section-height);
  }
  .servicios .title h2 {
    margin: 8rem 0 0 0;
  }
  .servicios .title h5 {
    margin: 3rem 0 0 0;
  }
  /* .clickText {
    display: none;
  }
  .rd__clickText {
    display: block;
  }
  .servicios .rd__clickText {
    position: absolute;
    top: 20%;
    left: 42.5%;
    transform: translate(-20% -42.5%);
  }
  .servicios .rd__clickText {
    width: 10rem;
    margin: 0 auto;
    text-align: center;
  }

  .servicios .rd__clickText h4 {
    width: 100%;
    background: var(--animation-bg-color);
    font-size: 2rem;
  }
  .servicios .rd__clickText h4 span {
    font-size: 0.75em;
    color: var(--white-color);
    letter-spacing: 0.1em;
  }
  .servicios .rd__clickText h4 .fa-arrow-down {
    font-size: 0.7em;
    color: var(--white-color);
  } */

  /*: Click & Arrow animation routine  */
  /* .servicios .rd__clickText h4 span {
    animation: click 2.25s linear infinite;
    -webkit-animation: click 2.25s linear infinite;
  }
  .servicios .rd__clickText h4 span:nth-child(1) {
    animation-delay: 0.25s;
  }
  .servicios .rd__clickText h4 span:nth-child(2) {
    animation-delay: 0.5s;
  }
  .servicios .rd__clickText h4 span:nth-child(3) {
    animation-delay: 0.75s;
  }
  .servicios .rd__clickText h4 span:nth-child(4) {
    animation-delay: 1s;
  }
  .servicios .rd__clickText h4 span:nth-child(5) {
    animation-delay: 1.25s;
  }
  @keyframes click {
    0%,
    100% {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff;
    }
    5%,
    95% {
      color: var(--color-pagina);
      filter: blur(0px);
      text-shadow: none;
    }
  } */
  /*: Ends Click & Arrow animation routine */

  .servicios .container-all {
    position: absolute;
    width: 210px;
    top: 35%;
    left: 50%;
  }
  .lightbox {
    top: 50%;
    left: 40%;
    transform: translate(-50% -40%);
  }
}

/*! iPad Portrait mode */
@media screen and (max-width: 768px) {
  .servicios .title h2 {
    margin: 8rem 0 0 0;
  }
  /* .servicios .rd__clickText {
    position: absolute;
    top: 30%;
    left: 42.5%;
    transform: translate(-30% -42.5%);
  } */
  .servicios .container-all {
    position: absolute;
    width: 210px;
    top: 45%;
    left: 50%;
  }
  .lightbox {
    top: 50%;
    left: 40%;
    transform: translate(-50% -40%);
  }
}

/*! Samsung Galaxy J2 */
@media screen and (max-width: 540px) {
  .servicios .title h2 {
    font-size: 2.5rem;
  }
  /* .servicios .rd__clickText {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-25% -35%);
  } */
  .social_Icon,
  .banner_Icon {
    right: 70px;
  }
  .lightbox {
    top: 45%;
    left: 30%;
    transform: translate(-45% -30%);
  }
}

/*! PC in smallest viewport mode */
@media screen and (max-width: 500px) {
  .servicios .title h2 {
    margin: 3rem 0 0 0;
    font-size: 1.5rem;
    text-align: center;
  }
  /* .servicios .rd__clickText h4 {
    font-size: 1.5rem;
  }
  .servicios .rd__clickText {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-25% -35%);
  } */
  .social_Icon,
  .banner_Icon {
    right: 60px;
  }
  .lightbox {
    top: 50%;
    left: 25%;
    transform: translate(-50% -25%);
  }
}

/*! iPhone XS Max */
@media screen and (max-width: 414px) {
  .services {
    width: 100%;
    height: 896px;
    min-height: 100vh;
  }
  .servicios .title h2 {
    text-align: center;
    font-size: 2rem;
    margin: 6rem 0 2.5rem 0;
  }
  .social_Icon,
  .banner_Icon {
    right: 25px;
  }
  /* .servicios .rd__clickText {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-25% -30%);
  } */
  .lightbox {
    top: 42.5%;
    left: 23.5%;
    transform: translate(-42.5% -23.5%);
  }
}

/*! iPhone 12 Pro */
@media screen and (max-width: 390px) {
  .servicios {
    height: 844px;
  }
  .servicios .title h2 {
    text-align: center;
    font-size: 2rem;
  }
  /* .servicios .rd__clickText {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-25% -30%);
  } */
  .lightbox {
    top: 42.5%;
    left: 23.5%;
    transform: translate(-42.5% -23.5%);
  }
}

/*! iPhone 6/7/8 */
@media screen and (max-width: 375px) {
  .services {
    height: 667px;
    min-height: 100vh;
  }
  .servicios .title h2 {
    text-align: center;
    font-size: 2rem;
    /* margin: 4rem 0 2.5rem 0; */
    margin: 2.5rem 0 1rem 0;
  }
  /* .servicios .rd__clickText {
    position: absolute;   
    top: 15%;
    left: 30%;
    transform: translate(-25% -30%);
  } */
  .servicios .container-all {
    position: absolute;
    width: 210px;
    top: 25%;
    left: 50%;
  }
  .lightbox {
    top: 42.5%;
    left: 23.5%;
    transform: translate(-42.5% -23.5%);
  }
}
/*! samsung Galaxy S5 */
@media screen and (max-width: 360px) {
  .services {
    height: 640px;
    min-height: 100vh;
  }
  /* .servicios .rd__clickText {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-25% -30%);
  } */
  .lightbox {
    top: 42.5%;
    left: 23.5%;
    transform: translate(-42.5% -23.5%);
  }
}

/*! Media Query for laptops & PC styles */
@media screen and (min-width: 769px) {
  .nav__list {
    flex-direction: row;
    column-gap: 0.5rem; /* Espacio entre enlaces */
  }
}
