/* Desktop styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&family=Gelasio:wght@400;600&Poppins:wght@400;500;600;700display=swap");

:root {
  --step--4: clamp(0.48rem, 0.47rem + 0.06vw, 0.51rem);
  --step--3: clamp(0.58rem, 0.55rem + 0.12vw, 0.64rem);
  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step--0: clamp(0.93rem, 0.87rem + 0.43vw, 1.1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.06rem + 0.71vw, 1.56rem);
  --step-2: clamp(1.44rem, 1.24rem + 1vw, 1.95rem);
  --step-3: clamp(1.73rem, 1.45rem + 1.39vw, 2.44rem);
  --step-4: clamp(2.07rem, 1.69rem + 1.91vw, 3.05rem);
  --step-5: clamp(2.49rem, 1.97rem + 2.59vw, 3.82rem);

  /* Social Media icons colors */
  --color-whatsapp: #00bd2c;
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  /* My preferred colors */
  --secondary-color: #9d8d6c;
  --prueba: hsl(40, 20%, 52%);
  --footer-color: #ff4e05;
  --footer-color-dark: #bf3900;
  --black: #000000;
  --white: #ffffff;
  --text-light: #9ca3af;
  --text-dark: #0d1319;
  --black-color-opacity: rgba(0, 0, 0, 0.5);
  --white-color-opacity: rgba(255, 255, 255, 0.3);
  --hover-color: #03a9f4;
  --circle-color: rgba(158, 141, 107, 0.5);
  --max-width: 1200px;
  --z-tooltip: 10;
  --z-fixed: 100;
  --color-azulObscuro: #27607c;
  --color-azulClaro: #1e5271;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Gelasio", sans-serif;
  background-color: var(--black);
  scroll-behavior: smooth;
}
.section__container,
.tagcloud {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
/* Bot칩n Ingles/Espa침ol para PC & Tablets in landscape mode */
.lenguaje {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lenguaje input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  appearance: inherit;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.lenguaje input:checked[type="checkbox"] {
  background: #03a9f4;
}
.lenguaje input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.lenguaje input:checked[type="checkbox"]:before {
  left: 20px;
}
.lenguaje span {
  margin: 0 0.5rem;
  font-size: var(--step--2);
  color: var(--white);
}
.profile__container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: max-content;
  background-image: url(".././img/logo.jpeg");
  background-size: cover;
  background-position: center;
  margin: 0 center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
.texto {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  color: white;
  line-height: 1.2;
}
.texto_titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.texto_titles h1 {
  font-size: var(--step-2);
  margin-bottom: 10px;
}
.texto_titles h2 {
  font-size: var(--step-0);
  margin-bottom: 10px;
  text-align: initial;
}
.texto_titles h3 {
  font-size: var(--step--2);
  margin-bottom: 10px;
  text-align: initial;
  font-family: open sans condensed;
  font-weight: 100;
}
.texto_titles h4 {
  color: var(--secondary-color);
  font-size: var(--step--2);
}
.texto_profile {
  text-align: justify;
  font-size: var(--step--2);
  line-height: 1.5;
}
/* .counselor,
.developer-btn a {
  font-size: var(--step--2);
  color: var(--white);
  font-weight: 500;
  text-decoration: underline;
}
.counselor:hover,
.developer-btn a:hover {
  color: var(--hover-color);
} */

/* Bot칩n de servicios */
button {
  margin-left: 10px;
}
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(40deg 20% 16%) 0%,
    hsl(40deg 20% 32%) 8%,
    hsl(40deg 20% 32%) 92%,
    hsl(40deg 20% 16%) 100%
      /* hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100% */
  );
}

.button-82-front {
  display: block;
  position: relative;
  /* padding: 12px 27px; */
  padding: 12px 20px;
  border-radius: 12px;
  /* font-size: 1.1rem; */
  font-size: var(--step--2);
  color: white;
  /* background: hsl(345deg 100% 47%); */
  background: var(--secondary-color);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.texto_profile span.button-82-front a {
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 768px) {
  .button-82-front {
    letter-spacing: 1.5px;
    /* font-size: 1.25rem; */
    /* padding: 12px 42px; */
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  /* transform: translateY(-6px); */
  transform: translateY(-10px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  /* transform: translateY(-2px); */
  transform: translateY(-6px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  /* transform: translateY(4px); */
  transform: translateY(8px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  /* transform: translateY(1px); */
  transform: translateY(5px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Box shadow example */
.boton-x {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* Fin Boto칩n de Servicios */

/* Animated Text Sphere  */

.sphere__container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.sphere__container .sphere_title h4 {
  font-size: var(--step--1);
  color: var(--white);
  font-weight: 100;
  font-style: italic;
}
.sphere__container .sphere_title h4 span {
  font-size: var(--step-1);
  color: var(--secondary-color);
  font-style: normal;
  margin-left: 20px;
}
.sphere__container .tagcloud {
  font-size: var(--step-0);

  /* font-weight: 650; */
  /* margin-left: 30%; */
  /* margin-top: 5%; */
}
.sphere__container .tagcloud--item:hover {
  color: #36454f;
}

/* Footer */
.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}
.footer__title span {
  color: var(--secondary-color);
}
.footer__subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.footer__btn {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3s;
}
.footer__btn:hover {
  /* background-color: var(--secondary-color-dark); */
  background-color: var(--footer-color-dark);
  box-shadow: inset 0 0 7px rgba(158, 141, 107, 0.4),
    rgba(158, 141, 107, 0.4) 0px 0px 5px;
}
.footer__details {
  font-size: var(--step--2);
  color: var(--text-light);
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}
.footer__details p:nth-child(1) {
  line-height: 1.5;
}
.footer__details p:nth-child(2) {
  font-style: italic;
  font-size: var(--step--2);
}
.footer__details p:nth-child(2) span {
  font-size: var(--step--0);
  font-style: normal;
}
.footer__details p:nth-child(2) span strong {
  color: var(--secondary-color);
}
.social__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social__icons .icon {
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.social__icons .icon i {
  font-size: var(--step-1);
}
.social__icons .ri-whatsapp-line:hover {
  color: var(--color-whatsapp);
}
.social__icons .ri-instagram-line:hover {
  color: var(--color-instagram);
}
.social__icons .ri-twitter-fill:hover {
  color: var(--color-twitter);
}
.social__icons .ri-linkedin-fill:hover {
  color: var(--color-linkedin);
}
.footer__form {
  display: grid;
  gap: 1rem;
  z-index: 999;
}
.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: var(--text-dark);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
}
.footer__form textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}
.footer__form button {
  width: max-content;
}

/* Placeholder animation */
.footer__form input:nth-child(5):focus::placeholder,
.footer__form input:nth-child(5):active::placeholder,
.footer__form input:nth-child(7):focus::placeholder,
.footer__form input:nth-child(7):active::placeholder,
.footer__form input:nth-child(9):focus::placeholder,
.footer__form input:nth-child(9):active::placeholder,
.footer__form textarea:focus::placeholder,
.footer__form textarea:active::placeholder {
  transform: translateY(-15px);
  text-align: center;
  font-size: var(--step--2);
  letter-spacing: 1px;
  color: var(--secondary-color);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}

/* Ventana Modal de la API FormSubmit.co */

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-color-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: absolute;
  right: 5rem;
}

.contact-form-response {
  padding: 1rem;
  width: 300px;
  border-radius: 3px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--white-color-opacity);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--footer-color);
}
.copyrightTexto {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: var(--text-light);
  background-color: transparent;
  font-size: var(--step--2);
}

/* iPad styles */
@media (max-width: 768px) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .profile__container {
    background-position: right;
  }
  .texto {
    width: 75%;
    position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-25%, -55%);
  }
  .texto_profile {
    line-height: 2;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
/* Up to Windows view and smartphone styles */
@media (max-width: 500px) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .texto_profile {
    line-height: 1.7;
  }
  .texto {
    width: 80%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
  }
  .texto_titles h4 {
    color: var(--white);
    font-weight: 900;
  }
  .sphere__container {
    flex-direction: column;
    margin-top: 2rem;
  }
  .lenguaje {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .footer__form :is(input, textarea) {
    /* background-color: rgb(80, 80, 80); */
    background-color: #515151;
  }
  .copyrightTexto {
    font-size: var(--step--3);
    padding: 8px 0;
    text-align: center;
  }
}
